USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TAFIE_Check_Load]    Script Date: 20/08/2025 08:48:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[TAFIE_Check_Load]

@Session_Id VARCHAR(255)
,@Client VARCHAR(255)
,@Load_Note VARCHAR(24)


as

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX)
DECLARE @Site VARCHAR(24) = (SELECT [Site] FROM TAFIE_Clients WHERE [Description] = @Client) 

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

/* 
***LOGIC KEY***

0. Load note not found
1. load note in a condition to execute search function
2. The Load note is no longer open.
3. A fix has already been attempted for this load note using the TAFIE application
4. A Carrier label has been created for the Load note using the TAFIE application

*/

--=================================================================================================================================
-- SELECT DATA FOR RESULTS TABLE
--=================================================================================================================================

SET @SQL = @SQL +

'
DECLARE @COUNT INT = (SELECT COUNT(*) FROM ' + @Connection_String + '.load_Dely WHERE load_Note = ''' + @Load_Note + ''' AND level_1 = ''' + @Site + ''')
DECLARE @Status INT = (SELECT TOP 1 [status] FROM ' + @Connection_String + '.load_Dely WHERE load_Note = ''' + @Load_Note + ''' AND level_1 = ''' + @Site + ''')
DECLARE @Result INT
DECLARE @Attempted INT = (SELECT COUNT(*) FROM TAFIE_Fix_Atmp WHERE Load_Note = ''' + @Load_Note + ''' AND Client = ''' + @Client + ''')
DECLARE @TCAR INT = (SELECT COUNT(Load_note) FROM TCAR WHERE [Status] = 220 AND Load_Note = ''' + @Load_Note + ''')

IF @COUNT > 0
	BEGIN 
		IF @Status NOT IN (200,220)
			BEGIN 				
				IF @Attempted > 0
					BEGIN
						SET @Result = 3
					END
				ELSE
					BEGIN 
						SET @Result = 1
					END
			END
		ELSE
			BEGIN
				SET @Result = 2
			END
	END
ELSE
	BEGIN 
		SET @Result = 0
	END

IF @TCAR > 0 AND @Result != 2
	BEGIN 
		SET @Result = 4
	END
ELSE
	BEGIN 
		SET @Result = @Result
	END

SELECT @Result as [Result]
'			

--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

PRINT(@SQL)
EXECUTE(@SQL)


