USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TAFIE_Clear_Session]    Script Date: 20/08/2025 08:48:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TAFIE_Clear_Session]

@Session_Id VARCHAR(255)


as

--=======================================================================================================
-- CLEAR RESULTS TABLES
--=======================================================================================================

DELETE TAFIE_API_Results WHERE Session_Id = @Session_Id OR [Session_Id] NOT IN (SELECT [Session_Id] FROM [TAFIE_Sessions])
DELETE TAFIE_Error_Results WHERE Session_Id = @Session_Id OR [Session_Id] NOT IN (SELECT [Session_Id] FROM [TAFIE_Sessions])
DELETE TAFIE_Lnot_Results WHERE Session_Id = @Session_Id OR [Session_Id] NOT IN (SELECT [Session_Id] FROM [TAFIE_Sessions])
DELETE TAFIE_Lnot_Line_Results WHERE Session_Id = @Session_Id OR [Session_Id] NOT IN (SELECT [Session_Id] FROM [TAFIE_Sessions])
DELETE TAFIE_TEMP_XML WHERE Session_Id = @Session_Id OR [Session_Id] NOT IN (SELECT [Session_Id] FROM [TAFIE_Sessions])
DELETE TCAR_Srch WHERE Session_Id = @Session_Id OR [Session_Id] NOT IN (SELECT [Session_Id] FROM [TAFIE_Sessions])

--=======================================================================================================
-- CLEAN UP ELEMENTS
--=======================================================================================================

UPDATE 
		[TCAR]
SET 
		[status] = 200 
WHERE 
		[Session_Id] NOT IN (SELECT [Session_Id] FROM [TAFIE_Sessions])
		AND [Status] NOT IN (220, 225)

UPDATE 
		TCAR_TOKN
SET 
		[Status] = 90
WHERE 
		(
			DT_Created <= DATEADD(MINUTE, -240, GETDATE()) 
			AND [Status] = 20
		)
		OR 
		(
			TCAR_TOKN.Access_Tkn = 'Access Token Not found'
		)