USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TAFIE_Fix_Error_V2]    Script Date: 20/08/2025 08:49:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TAFIE_Fix_Error_V2]

 @Session_Id VARCHAR(255)
,@Client VARCHAR(255)
,@User VARCHAR(255)
,@Field_A VARCHAR(4000)
,@Field_B VARCHAR(4000)
,@Field_C VARCHAR(4000)
,@Field_D VARCHAR(4000)
,@Field_E VARCHAR(4000)
,@Field_F VARCHAR(4000)
,@Field_G VARCHAR(4000)
,@Field_H VARCHAR(4000)

as

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @Error_Id VARCHAR(3) = (SELECT Error_Id FROM TAFIE_Error_Results WHERE Session_Id = @Session_Id)
DECLARE @Type int = (SELECT [TYPE] FROM intg_errs WHERE ID = @Error_Id)
DECLARE @TABLE VARCHAR(100) = (SELECT [Table] FROM intg_errs WHERE ID = @Error_Id)
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @SQL_Hist VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX)
DECLARE @tKey VARCHAR(255) = FORMAT(GETDATE(), 'yyyyMMddHHmmssfff') + CAST(FLOOR(RAND() * (9999 - 1000 + 1) + 1000) AS VARCHAR)
DECLARE @Site VARCHAR(24) = (SELECT [Site] FROM TAFIE_Clients WHERE [Description] = @Client) 
DECLARE @Customer VARCHAR(24) = (SELECT Customer FROM TAFIE_Lnot_Results WHERE Session_Id = @Session_Id)
DECLARE @Addr_Ref VARCHAR(24) = (SELECT Addr_Ref FROM TAFIE_Lnot_Results WHERE Session_Id = @Session_Id)
DECLARE @Load_Note VARCHAR(24) = (SELECT Load_Note FROM TAFIE_Lnot_Results WHERE Session_Id = @Session_Id)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)



--=================================================================================================================================
-- IF TYPE = 101 (CUST_ADDR) ADDRESS
--=================================================================================================================================

IF @Type = 101

BEGIN
	
	SET @SQL = @SQL + 
	'
	UPDATE 
			' + @Connection_String + '.' + @TABLE + '
	SET 
			initials = ''' + REPLACE(@Field_A,'''','''''') + '''
			,full_name = ''' + REPLACE(@Field_B,'''','''''') + '''
			,organisation = ''' + REPLACE(@Field_C,'''','''''') + '''
			,address = ''' + REPLACE(@Field_D,'''','''''') + '''
			,city = ''' + @Field_E + '''
			,country = ''' + (SELECT RTRIM([country]) as [1] FROM [SQL-BISCUIT].[eluciddb_ms].dbo.ctry WHERE descr = @Field_F) + '''
			,county = ''' + @Field_G + '''
			,postcode = ''' + @Field_H + '''
			,last_updated = GETDATE()
			,last_upd_user = ''' + @User + '''
	WHERE 
			Customer = ''' + @Customer + '''
			AND address_ref = ''' + @Addr_Ref + '''
	'

	IF @Addr_Ref = 'MAIN'
		BEGIN 
			SET @SQL = @SQL +

				'
				UPDATE 
						' + @Connection_String + '.cust
				SET 
						initials = ''' + REPLACE(@Field_A,'''','''''') + '''
						,full_name = ''' + REPLACE(@Field_B,'''','''''') + '''
						,company_name = ''' + REPLACE(@Field_C,'''','''''') + '''
						,address = ''' + REPLACE(@Field_D,'''','''''') + '''
						,city = ''' + @Field_E + '''
						,country = ''' + (SELECT RTRIM([country]) as [1] FROM [SQL-BISCUIT].[eluciddb_ms].dbo.ctry WHERE descr = @Field_F) + '''
						,county = ''' + @Field_G + '''
						,postcode = ''' + @Field_H + '''
						,last_updated = GETDATE()
						,last_upd_user = ''' + @User + '''
				WHERE 
						Customer = ''' + @Customer + '''
				'
		END

END

--=================================================================================================================================
-- ELSE IF TYPE = 102 (CUST_ADDR) CONTACT DETAILS
--=================================================================================================================================

ELSE IF @Type = 102

BEGIN

	SET @SQL = @SQL + 
	'
	UPDATE 
			' + @Connection_String + '.' + @TABLE + '
	SET 
			phone_day = ''' + @Field_A + '''
			,phone_eve = ''' + @Field_B + '''
			,phone_ext = ''' + @Field_C + '''
			,mobile = ''' + @Field_D + '''
			,email = ''' + @Field_E + '''
			,last_updated = GETDATE()
			,last_upd_user = ''' + @User + '''
	WHERE 
			Customer = ''' + @Customer + '''
			AND address_ref = ''' + @Addr_Ref + '''
	'

	IF @Addr_Ref = 'MAIN'
		BEGIN 
			SET @SQL = @SQL +

				'
				UPDATE 
						' + @Connection_String + '.cust
				SET 
						phone_day = ''' + @Field_A + '''
						,phone_eve = ''' + @Field_B + '''
						,phone_ext = ''' + @Field_C + '''
						,mobile = ''' + @Field_D + '''
						,email_address = ''' + @Field_E + '''
						,last_updated = GETDATE()
						,last_upd_user = ''' + @User + '''

				WHERE 
						Customer = ''' + @Customer + '''
				'
		END

END

--=================================================================================================================================
-- UPDATE CUST DETAILS
--=================================================================================================================================

SET @SQL_Hist = @SQL_Hist +
'
INSERT INTO ' + @Connection_String + '.cust_hist VALUES
(
	''' + @tKey + '''
	,''!''
	,GETDATE()
	,''' + @User + '''
	,GETDATE()
	,''' + @Site + '''
	,''GROUP''
	,CAST(GETDATE() as date)
	,CAST(GETDATE() as time)
	,''85''
	,''TAFIE - Customer details updated''
	,''' + @Customer + '''
	,NULL
	,NULL
	,''''
	,NULL
	,NULL
	,NULL
	,NULL
	,NULL
	,NULL
	,NULL
	,NULL
	,''' + @User + '''
	,''Customer details have been updated by the TAFIE application.''
)

'

--=================================================================================================================================
-- RECORD FIX ATTEMPT
--=================================================================================================================================

INSERT INTO [TAFIE_Fix_Atmp] VALUES
(
	@Client
	,@Load_Note
	,@Error_Id
	,GETDATE()
	,@User
)

--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

SELECT 
@Field_A
,@Field_B
,@Field_C
,@Field_D
,@Field_E
,@Field_F
,@Field_G
,@Field_H
,@Connection_String
,@TABLE
,@Customer
,@Addr_Ref
,@Type
,@Error_Id
,@SQL

--PRINT (@SQL)
--PRINT (@SQL_Hist)
EXECUTE (@SQL)
EXECUTE (@SQL_Hist)

