USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TAFIE_Get_API_Results]    Script Date: 20/08/2025 08:49:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TAFIE_Get_API_Results]

@Session_Id VARCHAR(255)
,@Client VARCHAR(255)
,@Load_Note VARCHAR(24)

as

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- PREPARE RESULTS TABLE FOR DATA INSERT
--=================================================================================================================================

DELETE TAFIE_API_Results WHERE Session_Id = @Session_Id

SET @SQL = @SQL + 'INSERT INTO TAFIE_API_Results'

--=================================================================================================================================
-- SELECT DATA FOR RESULTS TABLE
--=================================================================================================================================

SET @SQL = @SQL +

'
SELECT
			''' + @Session_Id + ''' as [Session_Id]
			,''' + @Load_Note + ''' as [Load_Note]
			,ISNULL(
					(
						SELECT TOP 1 
									message_in 
						FROM 
									' + @Connection_String + '.carr_ilog 
						WHERE 
									load_note = ''' + @Load_Note + '''
						ORDER BY 
									dt_created DESC
					), ''No Call Found''
			) as [API_Call]
			,ISNULL(
					(
						SELECT TOP 1 
									message_out 
						FROM 
									' + @Connection_String + '.carr_olog 
						WHERE 
									load_note = ''' + @Load_Note + '''
						ORDER BY 
									dt_created DESC
					), ''No Response Found''
			) as [API_Resp]
'			

--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

PRINT(@SQL)
EXECUTE(@SQL)


