USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TAFIE_Get_Error_Field_V2]    Script Date: 20/08/2025 08:49:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TAFIE_Get_Error_Field_V2]

 @Session_Id VARCHAR(255)
,@Client VARCHAR(255)

as

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @Error_Id VARCHAR(3) = (SELECT Error_Id FROM TAFIE_Error_Results WHERE Session_Id = @Session_Id)
DECLARE @Type int = (SELECT [TYPE] FROM intg_errs WHERE ID = @Error_Id)
DECLARE @TABLE VARCHAR(100) = (SELECT [Table] FROM intg_errs WHERE ID = @Error_Id)
DECLARE @Field VARCHAR(100) = (SELECT [FIELD] FROM intg_errs WHERE ID = @Error_Id)
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @SQL_Select VARCHAR(MAX) = ''
DECLARE @SQL_Where VARCHAR(MAX) = ''
DECLARE @SQL_Update VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX)
DECLARE @Site VARCHAR(24) = (SELECT [Site] FROM TAFIE_Clients WHERE [Description] = @Client) 

DECLARE @Customer VARCHAR(24) = (SELECT Customer FROM TAFIE_Lnot_Results WHERE Session_Id = @Session_Id)
DECLARE @Addr_Ref VARCHAR(24) = (SELECT Addr_Ref FROM TAFIE_Lnot_Results WHERE Session_Id = @Session_Id)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- IF TYPE = 101/102 (CUST_ADDR)
--=================================================================================================================================

IF @Type IN (101,102)

BEGIN
	
	SET @SQL = @SQL + 
	'
	SELECT 
				RTRIM(ISNULL([initials], '''')) as [initials]
				,RTRIM(ISNULL([full_name], '''')) as [full_name]
				,RTRIM(ISNULL([organisation], '''')) [organisation]
				,RTRIM(ISNULL([address], '''')) [address]
				,RTRIM(ISNULL([city], '''')) as [city]
				,RTRIM(ISNULL([county], '''')) as [county]
				,RTRIM(ISNULL((SELECT descr FROM ' + @Connection_String + '.ctry WHERE ctry.country = cust_addr.country), '''')) as [country]
				,RTRIM(ISNULL([postcode], '''')) as [postcode]
				,RTRIM(ISNULL([phone_day], '''')) as [phone_day]
				,RTRIM(ISNULL([phone_eve], '''')) as [phone_eve]
				,RTRIM(ISNULL([phone_ext], '''')) as [phone_ext]
				,RTRIM(ISNULL([mobile], '''')) as [mobile]
				,RTRIM(ISNULL([email], '''')) as [email]
	FROM 
				' + @Connection_String + '.' + @TABLE + '
	WHERE 
				customer = ''' + @Customer + '''
				AND address_ref = ''' + @Addr_Ref + '''
	'

END

--=================================================================================================================================
-- ELSE IF TYPE = 102 (LOAD_DELY) 
--=================================================================================================================================

-- ADD NEW SCENARIOS HERE #SCALEABLE

--=================================================================================================================================
-- CONSTRUCT, PRINT & EXECUTE SQL
--=================================================================================================================================


PRINT (@SQL)
EXECUTE(@SQL)