USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TAFIE_Get_Error_Results]    Script Date: 20/08/2025 08:50:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TAFIE_Get_Error_Results]

@Session_Id VARCHAR(255)
,@Client VARCHAR(255)
,@Load_Note VARCHAR(24)

as

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @XML_Message NVARCHAR(MAX)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- PREPARE RESULTS TABLES FOR DATA INSERT
--=================================================================================================================================

DELETE TAFIE_Error_Results WHERE Session_Id = @Session_Id
DELETE TAFIE_TEMP_XML WHERE Session_Id = @Session_Id

--=================================================================================================================================
-- GET XML TO TRANSLATE
--=================================================================================================================================

SET @SQL = @SQL +

'
INSERT INTO TAFIE_TEMP_XML
SELECT
			''' + @Session_Id + '''
			,ISNULL(
						(
							SELECT TOP 1 

										ISNULL(carr_olog.message_out, ''No Error'') as [XML_Message]
							FROM 
										' + @Connection_String + '.carr_olog 
										LEFT JOIN ' + @Connection_String + '.load_dely on load_dely.load_note = carr_olog.load_Note
							WHERE 
										carr_olog.load_note = ''' + @Load_Note + '''
										AND carr_olog.status = 10
										AND load_dely.status NOT IN (200,220)
							ORDER BY 
										carr_olog.dt_created DESC
						), ''No Error''
			) as 			[XML_Message]
'			

--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

PRINT(@SQL)
EXECUTE(@SQL)

--=================================================================================================================================
-- SET XML AND GET TRANSLATION
--=================================================================================================================================

SET @XML_Message = (SELECT XML_Message FROM TAFIE_TEMP_XML WHERE Session_Id = @Session_Id)

INSERT INTO TAFIE_Error_Results

SELECT TOP 1
			@Session_Id
			,@Load_Note
			,[ID]
			,[ERROR_MESSAGE]
			,[SUGG_FIX]
			,[TABLE]
			,[FIELD]
			,NULL
FROM 
			intg_errs
WHERE 
			@XML_Message LIKE XML_LIKE
