USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TAFIE_Get_Lnot_Results]    Script Date: 20/08/2025 08:50:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TAFIE_Get_Lnot_Results]

@Session_Id VARCHAR(255)
,@Client VARCHAR(255)
,@Load_Note VARCHAR(24)

as

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- PREPARE RESULTS TABLE FOR DATA INSERT
--=================================================================================================================================

DELETE TAFIE_Lnot_Results WHERE Session_Id = @Session_Id

SET @SQL = @SQL + 'INSERT INTO TAFIE_Lnot_Results'

--=================================================================================================================================
-- SELECT DATA FOR RESULTS TABLE
--=================================================================================================================================

SET @SQL = @SQL +
'
SELECT
			''' + @Session_Id + ''' as [Session_Id]
			,RTRIM(load_dely.customer) as [Customer]
			,RTRIM(load_dely.del_addr_ref) as [Addr_Ref]
			,RTRIM(sord.ref_no) as [Ref_No]
			,RTRIM(load_dely.load_note) as [Load_Note]
			,sord.dt_created as [Order_Date]
			,load_dely.dt_created as [Print_Date]
			,ISNULL(
				CAST(
						(
							SELECT COUNT(*) FROM ' + @Connection_String + '.load_line WHERE load_note = ''' + @Load_Note + '''
						) as FLOAT
				), 0
			) as [Lines]
			,ISNULL(
				CAST(
						(
							SELECT SUM(qty) FROM ' + @Connection_String + '.load_schd WHERE load_note = ''' + @Load_Note + '''
						) as FLOAT
				), 0
			) as [Units]
'			
--=================================================================================================================================
-- SUB QUERY FOR WEIGHT
--=================================================================================================================================

SET @SQL = @SQL +
'
			,ISNULL(
					(
						SELECT
									CAST(SUM(ISNULL(part_dims.weight, 0) * ISNULL(load_schd.qty, 0)) as FLOAT)
						FROM 
									' + @Connection_String + '.load_schd
									LEFT JOIN ' + @Connection_String + '.part_dims on part_dims.part = load_schd.part
						WHERE 
									load_schd.load_note = ''' + @Load_Note + '''
					), 0
			)as [Weight]
			'

--=================================================================================================================================
-- SUB QUERY FOR TOTAL VALUE
--=================================================================================================================================

SET @SQL = @SQL +
'
			,ISNULL(
					(
						SELECT
									ISNULL(
										CAST(
												SUM(ISNULL(sord_line.price, 0) * ISNULL(load_line.qty, 0)
											) as decimal(14,2)
										), 0
									)
						FROM 
									' + @Connection_String + '.sord_line
									INNER JOIN ' + @Connection_String + '.sord_load on sord_load.line = sord_line.line AND sord_load.ref_no = sord_line.ref_no
									INNER JOIN ' + @Connection_String + '.load_line on load_line.line = sord_load.load_line AND sord_load.load_note = load_line.load_note
						WHERE 
									sord_load.load_note = ''' + @Load_Note + '''
					), 0
			) as [Total Value]
			'

--=================================================================================================================================
-- SELECT DATA FOR RESULTS TABLE (CONT)
--=================================================================================================================================

SET @SQL = @SQL +
'
			,RTRIM(load_dely.carrier) as [Carrier]
			,RTRIM(load_dely.del_method) as [Del_Method]
			,ISNULL(
				CAST(
						(
							SELECT COUNT(*) FROM ' + @Connection_String + '.carr_ilog WHERE load_note = ''' + @Load_Note + '''
						) as FLOAT
				), 0
			) as [Call_Attempts]
			,CASE
					WHEN load_dely.status = ''40'' THEN ''In Picking''
					WHEN load_dely.status = ''200'' THEN ''Cancelled''
					WHEN load_dely.status = ''220'' THEN ''Complete''
			END as [Load_Status]
			'

--=================================================================================================================================
-- SELECT API ACCOUNT NUMBER AND USERNAME
--=================================================================================================================================

SET @SQL = @SQL +
'
			,ISNULL(
					(
						SELECT TOP 1
									RTRIM(carr_dtls.account_no) as [Account_No]
						FROM 
									' + @Connection_String + '.carr_olog 
									LEFT JOIN ' + @Connection_String + '.carr_dtls on carr_olog.carrier = carr_dtls.carrier
						WHERE 
									carr_olog.load_note = ''' + @Load_Note + '''
					), ''''
			) as [Account_No]
			,ISNULL(
					(
						SELECT TOP 1
									RTRIM(intg_parm.value) as [Value]
						FROM 
									' + @Connection_String + '.intg_parm
						WHERE 
									intg_parm.integration = ''CARRIER''
									AND intg_parm.parameter =''API_USERNAME''
									AND intg_parm.package = 
													(
														SELECT TOP 1
																	intg_code
														FROM 
																	' + @Connection_String + '.carr_olog 
																	LEFT JOIN ' + @Connection_String + '.carr_intg on carr_olog.carrier = carr_intg.carrier
														WHERE 
																	carr_olog.load_note = ''' + @Load_Note + '''
														ORDER BY carr_olog.dt_created DESC
												)
					), ''''
			) as [Username]
'

--=================================================================================================================================
-- FROM & WHERE CLAUSE
--=================================================================================================================================

SET @SQL = @SQL +
'
FROM 
			' + @Connection_String + '.load_dely
			LEFT JOIN ' + @Connection_String + '.lnot_sord on load_dely.load_note = lnot_sord.load_note
			LEFT JOIN ' + @Connection_String + '.sord on sord.ref_no = lnot_sord.ref_no
WHERE 
			load_dely.load_note = ''' + @Load_Note + '''
'

--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

PRINT(@SQL)
EXECUTE(@SQL)

