USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TAFIE_Get_Lnot_Line_Results]    Script Date: 20/08/2025 08:50:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TAFIE_Get_Lnot_Line_Results]

@Session_Id VARCHAR(255)
,@Client VARCHAR(255)
,@Load_Note VARCHAR(24)

as

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- PREPARE RESULTS TABLE FOR DATA INSERT
--=================================================================================================================================

DELETE TAFIE_Lnot_Line_Results WHERE Session_Id = @Session_Id

SET @SQL = @SQL + 'INSERT INTO TAFIE_Lnot_Line_Results'

--=================================================================================================================================
-- SELECT DATA FOR RESULTS TABLE
--=================================================================================================================================

SET @SQL = @SQL +
'
SELECT
			''' + @Session_Id + ''' as [Session_Id]
			,RTRIM(load_schd.load_note) as [Load_Note]
			,RTRIM(load_schd.Line) as [Line]
			,RTRIM(part.part) as [Part]
			,RTRIM(part.descr) as [Description]
			,CAST(load_schd.qty as FLOAT) as [Qty]
			,CAST(sord_line.price as decimal(14,2)) as [Price]
			,CAST(ISNULL(sord_line.price, 0) * ISNULL(load_line.qty, 0) as decimal(14,2)) as [Line Total]
			,CASE
					WHEN load_schd.status = 40 THEN ''In Picking''
					WHEN load_schd.status = 200 THEN ''Cancelled''
					WHEN load_schd.status = 220 THEN ''Complete''
					ELSE RTRIM(load_schd.status)
			END as [Status]
			,ISNULL(
					(
						SELECT TOP 1 
									[weight] 
						FROM 
									' + @Connection_String + '.part_dims 
						WHERE 
									part_dims.part = load_schd.part
					), 0
			) as [Item_Weight]
			,ISNULL(
					(
						SELECT TOP 1 
									[harmonised_code]
						FROM 
									' + @Connection_String + '.part_hscd 
						WHERE 
									part_hscd.part = load_schd.part
					), ''''
			) as [HS_Code]
			,ISNULL(
					(
						SELECT TOP 1 
									[country]
						FROM 
									' + @Connection_String + '.part_ctro 
						WHERE 
									part_ctro.part = load_schd.part
					), ''''
			) as [Coo]
'			

--=================================================================================================================================
-- FROM & WHERE CLAUSE
--=================================================================================================================================

SET @SQL = @SQL +
'
FROM 
			' + @Connection_String + '.load_schd
			LEFT JOIN ' + @Connection_String + '.load_line on load_line.load_note = load_schd.load_note AND load_line.line = load_schd.line
			LEFT JOIN ' + @Connection_String + '.part on part.part = load_schd.part
			LEFT JOIN ' + @Connection_String + '.sord_load on sord_load.load_line = load_schd.line AND sord_load.load_note = load_schd.load_note
			LEFT JOIN ' + @Connection_String + '.sord_line on sord_line.ref_no = sord_load.ref_no AND sord_line.line = sord_load.line 
WHERE 
			load_schd.load_note = ''' + @Load_Note + '''
'

--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

PRINT(@SQL)
EXECUTE(@SQL)

