USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Save_Client]    Script Date: 20/08/2025 08:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Save_Client]

@Client VARCHAR(255)
,@IOSS VARCHAR(255)
,@EORI VARCHAR(255)
,@AccCode VARCHAR(8)
,@Active INT
,@User VARCHAR(100)

AS

--=========================================
-- UPDATE CLIENT DATA
--=========================================
UPDATE
		TAFIE_Clients
SET
		Last_Upd_User = @User
		,Last_Updated = GETDATE()
		,IOSS = @IOSS
		,EORI = @EORI
		,Acc_Code = @AccCode
		,Active = @Active
WHERE
		[Description] = @Client