USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_UPDATE_BCON]    Script Date: 20/08/2025 08:59:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_UPDATE_BCON]

@TCAR_Ref VARCHAR(24)
,@Box_Ref VARCHAR(3)
,@Part VARCHAR(24)
,@Qty VARCHAR(24)

AS


--======================================================================================================================
-- GET ORIGINAL DATA
--======================================================================================================================

DECLARE @OG_Qty INT

SELECT TOP 1 
			@OG_Qty = Qty
FROM 
			TCAR_BCON
WHERE 
			Part = @Part 
			AND Box_Ref = @Box_Ref 
			AND TCAR_Ref = @TCAR_Ref

--======================================================================================================================
-- TRY UPDATE
--======================================================================================================================

UPDATE 
		TCAR_BCON
SET 
		Qty = @Qty,
		Last_Updated = GETDATE()
WHERE 
		Part = @Part 
		AND Box_Ref = @Box_Ref 
		AND TCAR_Ref = @TCAR_Ref

--======================================================================================================================
-- CHECK UPDATE DOES NOT EXCEED WEIGHT LIMIT
--======================================================================================================================

DECLARE @Max_Box_Weight NUMERIC(18,2)
DECLARE @Part_Weight NUMERIC(18,2)
DECLARE @New_Box_Weight NUMERIC(18,2)

SET @Max_Box_Weight = (SELECT int_1 FROM TCAR_Parameters WHERE ID = '001')
SET @Part_Weight = (SELECT TOP 1 ISNULL(Part_Weight, 0) FROM TCAR_LINE WHERE Part = @Part AND TCAR_Ref = @TCAR_Ref)

SET @New_Box_Weight = (
							SELECT 
										ISNULL(SUM(TCAR_Line.Part_Weight * TCAR_BCON.Qty), 0)
							FROM 
										TCAR_BCON
										LEFT JOIN TCAR_Line ON TCAR_Line.TCAR_Ref = TCAR_BCON.TCAR_Ref AND TCAR_Line.Part = TCAR_BCON.Part
							WHERE 
										TCAR_BCON.Box_Ref = @Box_Ref 
										AND TCAR_BCON.TCAR_Ref = @TCAR_Ref
							GROUP BY
										TCAR_BCON.Box_Ref 
										,TCAR_BCON.TCAR_Ref
						)

--======================================================================================================================
-- IF WEIGHT EXCEEDED, RETURN ERROR AND RESET RECORD
--======================================================================================================================

IF @New_Box_Weight > @Max_Box_Weight
	BEGIN

		SELECT 'New box weight will exceed maximum!' AS [Error], 1 AS [Status]

		-- Rollback the update
		UPDATE 
				TCAR_BCON
		SET 
				Qty = @OG_Qty
				,Last_Updated = GETDATE()
		WHERE 
				Part = @Part 
				AND Box_Ref = @Box_Ref 
				AND TCAR_Ref = @TCAR_Ref

	END

--======================================================================================================================
-- ELSE RETURN SUCCESS
--======================================================================================================================

ELSE
	BEGIN	

		SELECT 'UPDATE SUCCESSFUL' AS [Error], 0 AS [Status]

		-- Update TCAR_BOXES to reflect new weight
		UPDATE 
				TCAR_BOXES
		SET 
				[Weight] = @New_Box_Weight
				,Last_Updated = GETDATE()
		WHERE 
				Box_Ref = @Box_Ref 
				AND TCAR_Ref = @TCAR_Ref
	END

PRINT @New_Box_Weight
PRINT @Max_Box_Weight


