USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_GET_XML_V2]    Script Date: 20/08/2025 08:56:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC[dbo].[TCAR_GET_XML_V2]

@TCAR_Ref VARCHAR(24)
,@Box_Ref INT

as

--==============================================================================================================================================================
-- XML PATH
--==============================================================================================================================================================



SELECT
			--<Shipment>
				RTRIM([API_Acc]) as [Account]
				--<CollectionDetails>
					,CAST(GETDATE() as date) as [CollectionDate]
					,CAST(GETDATE() as time) as [CollectionReadyTime]
					,'17:00:00' as [LocationCloseTime]
				--</CollectionDetails>
				--<CollectionAddress>
					,TCAR.Client as [Sender_Name]
					,TCAR.Client as [Sender_Company]
					,'Wrangaton Business Park' as [Sender_AddressLine1]
					,'' as [Sender_AddressLine2]
					,'SOUTH BRENT' as [Sender_City]
					,'DEVON' as [Sender_State] 
					,'TQ10 9GQ' as [Sender_Zip] 
					,'GB' as [Sender_Country] 
					,'0123456789' as [Sender_Phone] 
					,'AccountManager@whistl.co.uk' as [Sender_Email]
					,'STD' as [Sender_Vat]
				--</CollectionAddress>
				--<DeliveryAddress>
					,RTRIM(Name) as [ContactName]
					,RTRIM(ISNULL(Company,RTRIM(Name))) as [CompanyName]
					,RTRIM(email) as [Email]
					,RTRIM(Phone) as [Phone]
					,RTRIM(Addr1) as [Address1]
					,RTRIM(addr2) as [Address2]
					,RTRIM(City) as [City]
					,RTRIM(County) as [Area]
					,RTRIM(Postcode) as [Postcode]
					,RTRIM(ISNULL(TCAR.Country, 'GB')) as [Country]
					,'Residential' as [AddressType]
				--</DeliveryAddress>
				,RTRIM(Ref1) as [Reference1]
				,RTRIM(Ref2) as [Reference2]
				,'' as [SpecialInstructions]
				,'Goods' as [ContentsDescription]
				,RTRIM(Curr) as [CurrencyCode]
				,'false' as [HasBeenManifested]
				--<CustomsDeclarationInfo>
					,CASE 
							WHEN (SELECT TOP 1 DDP FROM TCAR_CMAP WHERE TCAR.Service_Level = TCAR_CMAP.Service_Level) = 1 THEN 'DutiesAndTaxesPaid'
							ELSE 'DutiesAndTaxesUnpaid'
					END as [TermsOfTrade]
					,'Sold' as [CategoryOfItem]
					,ISNULL(TCAR.Postal_Charges, 0) as [PostalCharges]
					,CAST(ISNULL(TCAR.Postal_Charges, 0) as numeric(14,4)) as [CarriageValue]
					,'0' as [InsuranceValue]
					,'' as [RecipientTaxID]
					,RTRIM(Country) as RecipientTaxIDCountry
					,RTRIM(TCAR.IOSS) as IOSSNumber
					,RTRIM(Country) as IOSSNumberCountry
					,RTRIM(EORI) as RecipientVATNumber
					,RTRIM(Country) as RecipientVATNumberCountry
					,'None' as DutyBillingTerm
				--<CustomsDeclarationInfo>
				--<ServiceInfo>
					,RTRIM(Service_Level) as [ServiceId]
					,RTRIM(ISNULL(Customer_UID, '00000')) as [ServiceCustomerUID]			
					,RTRIM(Service_Id) as [ServiceProviderId]
				--</ServiceInfo>
				--<Packages>
					--<Package>
						,'Parcel' as [PackageType]
						--<Dimensions>
							,CAST(TCAR_BOXES.Dim_L as int) as [Length]
							,CAST(TCAR_BOXES.Dim_W as int) as [Width]
							,CAST(TCAR_BOXES.Dim_H as int) as [Height]
						--</Dimensions>
						,CAST(ISNULL(TCAR_BOXES.[Weight], 1) as numeric(14,4)) as [Weight]						
						,'Goods' as [Contents]
						--<PackageCustomsDeclaration>
							,CAST(ISNULL(TCAR_BOXES.Qty, 0) as int) as [Qty]
							,CASE 
									WHEN ISNULL(TCAR_BOXES.Value, 0) = 0 THEN 1
									ELSE CAST(ISNULL(TCAR_BOXES.Value, 1) as numeric(14,2))
							END  as [Value]
						--</PackageCustomsDeclaration>
						--<ItemLevelDeclaration>
							,RTRIM(TCAR_Line.Part) as [ProductSKU]
							,RTRIM(TCAR_Line.[Description]) as [ProductDescription]
							,RTRIM(TCAR_line.[Type]) as [ProductType]
							,CASE 
									WHEN ISNULL(TCAR_line.Part_Value, 0) = 0 THEN 1
									ELSE CAST(ISNULL(TCAR_line.Part_Value, 1) as numeric(14,2))
							END  as [ProductValue]							
							--,CAST(TCAR_BCON.Qty as int) as [ProductQuantity]
							,ISNULL(
									(
										SELECT TOP 1
													TCAR_BCON.Qty 
										FROM 
													TCAR_BCON 
										WHERE 
													TCAR_BCON.part = TCAR_Line.part 
													AND TCAR_BOXES.TCAR_Ref = TCAR_BCON.TCAR_Ref 
													AND TCAR_BOXES.Box_Ref = TCAR_BCON.Box_Ref
													AND TCAR_BCON.Box_Ref = @Box_Ref
									), TCAR_Line.Qty
							) as [ProductQuantity]
							,CAST(TCAR_line.Part_Weight as numeric(14,2)) as [ProductWeight]
							,RTRIM(TCAR_Line.CoO) as [ProductCountryOfOrigin]
							,RTRIM(TCAR_Line.HS_Code) as [ProductHarmonisedCode]
						--</ItemLevelDeclaration>
					--</Package>
				--</Packages>
			--</Shipment>
FROM 
			TCAR
			INNER JOIN TCAR_Line ON TCAR_Line.TCAR_Ref = TCAR.TCAR_Ref
			INNER JOIN TCAR_BOXES ON TCAR_BOXES.TCAR_Ref = TCAR.TCAR_Ref		
			INNER JOIN TCAR_BCON ON TCAR.TCAR_Ref = TCAR_BCON.TCAR_Ref AND TCAR_BOXES.Box_Ref = TCAR_BCON.Box_Ref AND TCAR_line.Part = TCAR_BCON.Part	
WHERE 
			TCAR.TCAR_Ref = @TCAR_Ref
			AND TCAR_BOXES.Box_Ref = @Box_Ref