USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Complete_Load_P3]    Script Date: 20/08/2025 08:52:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Complete_Load_P3]

@TCAR_Ref VARCHAR(24)

AS

--========================================================================================================
-- DECALRE VARIABLES
--========================================================================================================

DECLARE @Ref_No VARCHAR(24) = (SELECT TOP 1 Ref_No FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Load_Note VARCHAR(24) = (SELECT TOP 1 Load_Note FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @User VARCHAR(24) = (SELECT TOP 1 User_Created FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Tkey VARCHAR(255) = REPLACE(RTRIM((CONVERT(VARCHAR(10), CURRENT_TIMESTAMP, 112)) + (CONVERT(VARCHAR(10), CURRENT_TIMESTAMP, 14))), ':', '')
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Client VARCHAR(255) = (SELECT Client FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--========================================================================================================
-- CREATE SMOV
--========================================================================================================

SET @SQL = @SQL + '

DECLARE @Total_Qty_Load INT = (SELECT COUNT(*) FROM ' + @Connection_String + '.load_schd WHERE load_note = ''' + @Load_Note + ''')
DECLARE @Comp_Qty_Load INT = (SELECT COUNT(*) FROM ' + @Connection_String + '.load_schd WHERE load_note = ''' + @Load_Note + ''' AND [status] IN (200,220))

IF @Total_Qty_Load = @Comp_Qty_Load
	BEGIN
		DECLARE @Session_Id VARCHAR(255) = (SELECT session_Id FROM TCAR WHERE TCAR_Ref = ''' + @TCAR_Ref + ''')

		INSERT INTO ' + @Connection_String + '.smov
		SELECT 
					''' + @Tkey + ''' + RTRIM(TCAR_Desp.Load_Line) as [tKey]
					,''!'' as [U_Version]
					,RIGHT(@Session_Id, 20) as [Session_Id]
					,RTRIM(TCAR_Desp.Load_Line) as [Sess_Line]
					,''0'' as [Extract_flag]
					,NULL as [Processed]
					,GETDATE() as [Last_Updated]
					,''' + @User + ''' as [Last_Upd_User]
					,''' + @Load_Note + ''' as [Document]
					,RTRIM(TCAR_Desp.Load_Line) as [Doc_Line]
					,RTRIM(bins_lots.level_1) as [Level_1]
					,''GROUP'' as [Level_2]
					,NULL as [Batch_ref]
					,''1'' as [Issue]
					,''SALISS'' as [Trans]
					,RTRIM(bins_lots.store) as [Store]
					,''' + @Load_Note + ''' as [Bin]
					,RTRIM(bins_lots.lot) as [Lot]
					,RTRIM(bins_lots.part) as [Part]
					,bins_lots.qty as [Qty]
					,bins_lots.qty as [Act_Qty]
					,''EA'' as [Unit]
					,''EA'' as [Act_Unit]
					,''1'' as [Conversion]
					,''' + @User + ''' as [User_Id]
					,NULL as [reason]
					,''0'' as [Reversed]
					,NULL as [Gl_Code]
					,CAST(GETDATE() as date) as [Trans_Date]
					,CAST(GETDATE() as time) as [Trans_Time]
					,NULL as [No_Catrons]
					,NULL as [Delivery_Ref]
					,''0'' as [Cost]
					,''0'' as [Qty_Oh]
		FROM 
					TCAR_Desp
					INNER JOIN ' + @Connection_String + '.bins_lots on bins_lots.bin = TCAR_Desp.Load_Note AND bins_lots.part = TCAR_Desp.Part
		WHERE 
					TCAR_Ref = ''' + @TCAR_Ref + '''
					AND (SELECT status FROM ' + @Connection_String + '.sord WHERE ref_no = ''' + @Ref_No + ''') NOT IN  (''220'',''200'')
			
	END
'
--========================================================================================================
-- PRINT & EXECUTE SQL
--========================================================================================================

		PRINT(@SQL)
		EXECUTE(@SQL)

