USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Split_Post]    Script Date: 20/08/2025 08:59:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Split_Post]


@TCAR_Ref VARCHAR(24)

as

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Ref_No VARCHAR(24) = (SELECT Ref_No FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Client VARCHAR(255) = (SELECT TCAR.Client FROM TCAR WHERE TCAR.TCAR_Ref = @TCAR_Ref)
SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)
--=================================================================================================================================
-- SPREAD POSTAGE CHARGE
--=================================================================================================================================

DECLARE @Total_Boxes NUMERIC(14,2) = (SELECT COUNT(*) FROM TCAR_BOXES WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Total_Lines NUMERIC(14,2) = (SELECT COUNT(*) FROM TCAR_Line WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Postage NUMERIC(14,2) = (SELECT Postal_Charges FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @BoxSplit NUMERIC(14,2) = @Postage / @Total_Boxes
DECLARE @LineSplit NUMERIC(14,2) = @Postage / @Total_Lines

SET @SQL = @SQL + '

DECLARE @Exhausted INT = (SELECT [exhausted] FROM ' + @Connection_String + '.sord_hchg WHERE ref_no = ''' + @Ref_No + ''')

IF @Exhausted = 0
	BEGIN
		UPDATE 
				TCAR_BOXES
		SET 
				[Value] = [Value] + ''' + RTRIM(@BoxSplit) + '''
		WHERE 
				TCAR_Ref = ''' + @TCAR_Ref + '''	

		UPDATE 
				TCAR_Line
		SET 
				[Line_Value] = [Line_Value] + ''' + RTRIM(@LineSplit) + '''
		WHERE 
				TCAR_Ref = ''' + @TCAR_Ref + '''						
	END
'

PRINT (@SQL)
EXECUTE (@SQL)

SELECT 
@Total_Boxes as [Total Boxes]
,@Total_Lines as [Total Lines]
,@Postage as [Postage]
,@BoxSplit as [Box Split]
,@LineSplit as [Line Split]
