USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_INSERT_TOKN]    Script Date: 20/08/2025 08:56:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROC [dbo].[TCAR_INSERT_TOKN]

@tkey VARCHAR(255)
,@Acc_Code VARCHAR(8)
,@Access_Tkn NVARCHAR(MAX)
,@Refresh_Tkn NVARCHAR(1000)

as

INSERT INTO [TCAR_TOKN]
(
	[tkey]
	,[Acc_Code]
	,[Access_Tkn]
	,[Refresh_Tkn]
	,[DT_Created]
	,[Status]
)
VALUES
(
	@tkey
	,@Acc_Code
	,@Access_Tkn
	,@Refresh_Tkn
	,GETDATE()
	,20
)