USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Complete_Load_P2]    Script Date: 20/08/2025 08:52:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Complete_Load_P2]

@TCAR_Ref VARCHAR(24)

AS

--========================================================================================================
-- DECALRE VARIABLES
--========================================================================================================

DECLARE @Ref_No VARCHAR(24) = (SELECT TOP 1 Ref_No FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Load_Note VARCHAR(24) = (SELECT TOP 1 Load_Note FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @User VARCHAR(24) = (SELECT TOP 1 User_Created FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Tkey VARCHAR(255) = REPLACE(RTRIM((CONVERT(VARCHAR(10), CURRENT_TIMESTAMP, 112)) + (CONVERT(VARCHAR(10), CURRENT_TIMESTAMP, 14))), ':', '')
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Client VARCHAR(255) = (SELECT Client FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)


--========================================================================================================
-- UPDATE LOAD HEADERS
--========================================================================================================

/*
Once all the line level data is updated, check to see if all 
lines have been confirm for both the order and the load note
then update headers accordingly and clear bin records
*/

SET @SQL = @SQL + '
		-- LOAD_DELY --
		UPDATE 
				' + @Connection_String + '.load_dely
		SET 
				[status] = 220
				,last_updated = GETDATE()
				,last_upd_user = ''' + @User + '''
		WHERE 
				load_note = ''' + @Load_Note + '''

		-- LOAD_UNCO --
		DELETE 
				' + @Connection_String + '.load_unco 
		WHERE 
				load_note = ''' + @Load_Note + '''

		-- PART_BINS --
		DELETE
				' + @Connection_String + '.part_bins 
		WHERE 
				bin = ''' + @Load_Note + '''
		
		-- BINS_LOTS --
		DELETE
				' + @Connection_String + '.bins_lots 
		WHERE 
				bin = ''' + @Load_Note + '''

		-- SORD_HCHG --
		--UPDATE 
		--		' + @Connection_String + '.sord_hchg
		--SET
		--		exhausted = 1
		--		,last_updated = GETDATE()
		--		,last_upd_user = ''' + @User + '''
		--WHERE 
		--		ref_no = ''' + @Ref_No + '''	
'

--========================================================================================================
-- PRINT & EXECUTE SQL
--========================================================================================================

		PRINT(@SQL)
		EXECUTE(@SQL)

