USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Get_Comp]    Script Date: 20/08/2025 08:53:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Get_Comp]

@TCAR_Ref VARCHAR(24)

AS

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Client VARCHAR(255) = (SELECT TCAR.Client FROM TCAR WHERE TCAR.TCAR_Ref = @TCAR_Ref)
DECLARE @Load_Note VARCHAR(24) = (SELECT TCAR.Load_Note FROM TCAR WHERE TCAR.TCAR_Ref = @TCAR_Ref)
DECLARE @User VARCHAR(24) = (SELECT TCAR.User_Created FROM TCAR WHERE TCAR.TCAR_Ref = @TCAR_Ref)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- GET & INSERT DATA [TCAR_Line]
--=================================================================================================================================

SET @SQL = '

INSERT INTO [TCAR_Line] 
(
	[TCAR_Ref]
	,[Line]
	,[Part]
	,[Description]
	,[Type]
	,[Line_Value]
	,[Qty]
	,[Line_Weight]
	,[CoO]
	,[HS_Code]
	,[DT_Created]
	,[Last_Updated]
	,[Last_Upd_User]
)

SELECT 
			''' + @TCAR_Ref + '''
			,RTRIM(Load_line.line)
			,RTRIM(part.part)
			,RTRIM(part.descr)
			,LEFT(ISNULL(RTRIM(pgrp.descr), RTRIM(part.descr)), 35)
			,CAST(sord_line.total_value AS numeric(14,2))
			,COALESCE(CAST(load_line.qty AS float), 0)
			,CAST(((ISNULL(part_dims.weight, 0) / 1000) * ISNULL(load_line.qty, 0)) AS numeric(17,4))
			,RTRIM(part_ctro.country)
			,RTRIM(part_hscd.harmonised_code)
			,GETDATE()
			,GETDATE()
			,''' + @User + '''
FROM 
			' + @Connection_String + '.load_dely
			INNER JOIN ' + @Connection_String + '.load_line ON load_dely.load_note = load_line.load_note 
			INNER JOIN ' + @Connection_String + '.sord_load ON load_line.load_note = sord_load.load_note AND load_line.line = sord_load.load_line 
			INNER JOIN ' + @Connection_String + '.sord_line ON sord_load.ref_no = sord_line.ref_no AND sord_load.dely_ref = sord_line.dely_ref AND sord_load.line = sord_line.line 
			INNER JOIN ' + @Connection_String + '.sord ON sord_line.ref_no = sord.ref_no 
			INNER JOIN ' + @Connection_String + '.part ON sord_line.part = part.part 
			LEFT JOIN ' + @Connection_String + '.part_dims ON part.part = part_dims.part 
			LEFT JOIN ' + @Connection_String + '.part_hscd ON part.part = part_hscd.part 
			LEFT JOIN ' + @Connection_String + '.part_ctro ON part.part = part_ctro.part 
			LEFT JOIN ' + @Connection_String + '.pgrp ON part.prod_group = pgrp.prod_group
WHERE 
			load_dely.load_note = ''' + @Load_Note + ''''

--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

PRINT(@SQL)
EXECUTE(@SQL)

--=================================================================================================================================
-- GET & INSERT BOX DATA
--=================================================================================================================================

DECLARE @Service_Level VARCHAR(12) = (SELECT TOP 1 Service_Level FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Service_Id VARCHAR(12) = (SELECT TOP 1 Service_Id FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Max_Box_Weight NUMERIC(18,2) = (SELECT TOP 1 Weight_Limit FROM TCAR_CMAP WHERE Service_Level = @Service_Level AND Service_Id = @Service_Id)
DECLARE @Total_Load_Weight NUMERIC(18,2) = (SELECT SUM(ISNULL([Line_Weight], 0)) FROM TCAR_Line WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Remaining_Weight NUMERIC(18,2) = @Total_Load_Weight
DECLARE @Box_Num INT = 1
DECLARE @Current_Box_Weight NUMERIC(18,2) = 0

--=================================================================================================================================
-- GET & INSERT BOX DATA - 1.0
--=================================================================================================================================

IF @Total_Load_Weight + 0.2 <= @Max_Box_Weight
	BEGIN
		INSERT INTO TCAR_BOXES -- INSERT SINGLE BOX IF WITHIN LIMIT
		(
			[TCAR_Ref]
			,[Box_ref]
			,[Weight]
			,[Value]
			,[Qty]
			,[Dim_L]
			,[Dim_W]
			,[Dim_H]
			,[DT_Created]
			,[Last_Updated]
			,[Last_Upd_User]
		)

		SELECT
					@TCAR_Ref
					,'1'
					,SUM(ISNULL([Line_Weight], 0)) + 0.2 -- ACCOUNT FOR PACKAGING WEIGHT
					,SUM(ISNULL([Line_Value], 0))
					,SUM(ISNULL([Qty], 0))
					,'1'
					,'1'
					,'1'
					,GETDATE()
					,GETDATE()
					,@User
		FROM 
					TCAR_Line 
		WHERE 
					TCAR_Ref = @TCAR_Ref

--=================================================================================================================================
-- GET & INSERT BOX DATA - 1.1
--=================================================================================================================================

		INSERT INTO TCAR_BCON -- INSERT BOX CONTENTS
		(
			[TCAR_Ref]
			,[Box_ref]
			,[Part]
			,[Qty]
			,[DT_Created]
			,[Last_Updated]
			,[Last_Upd_User]
		)
		SELECT
					@TCAR_Ref
					,'1'
					,Part
					,ISNULL(Qty, 1)
					,GETDATE()
					,GETDATE()
					,@User
		FROM 
					TCAR_Line 
		WHERE 
					TCAR_Ref = @TCAR_Ref
	END

--=================================================================================================================================
-- GET & INSERT BOX DATA - 2.0
--=================================================================================================================================

-- CREATE MULTIPLE BOXES IS NOT WITHIN LIMIT
ELSE
	BEGIN
		DECLARE cur CURSOR FOR 

		SELECT 
					[Part]
					,ISNULL([Line_Weight], 0)
					,ISNULL([Part_Value], 0)
					,ISNULL([Qty], 0)
		FROM 
					TCAR_Line 
		WHERE 
					TCAR_Ref = @TCAR_Ref
		ORDER BY 
					[Line_Weight] DESC  

		DECLARE @Part NVARCHAR(50)
		DECLARE @Part_Weight NUMERIC(14,2)
		DECLARE @Part_Value NUMERIC(14,2)
		DECLARE @Part_Qty NUMERIC(14,2)
		DECLARE @Weight_Per_Unit NUMERIC(18,2)
		DECLARE @Qty_To_Box NUMERIC(14,2)

--=================================================================================================================================
-- GET & INSERT BOX DATA - 2.1 - OPEN CURSOR
--=================================================================================================================================

		OPEN cur
		FETCH NEXT FROM cur INTO @Part, @Part_Weight, @Part_Value, @Part_Qty

		WHILE @@FETCH_STATUS = 0

		BEGIN
			
			SET @Weight_Per_Unit = (SELECT SUM(ISNULL([Part_Weight], 0)) FROM TCAR_Line WHERE TCAR_Ref = @TCAR_Ref AND part = @Part)
			-- DISTRIBUTE ITEMS ACROSS MULTI BOXES IF NEEDED
			SET @Qty_To_Box = @Part_Qty

			WHILE @Qty_To_Box > 0

--=================================================================================================================================
-- GET & INSERT BOX DATA - 2.2
--=================================================================================================================================

			BEGIN
				-- IF NEW BOX NEEDED
				IF @Current_Box_Weight = 0 OR @Current_Box_Weight + (@Qty_To_Box * @Weight_Per_Unit) > @Max_Box_Weight
					BEGIN                    
						INSERT INTO TCAR_BOXES -- INSERT NEW BOX RECORD
						(
							[TCAR_Ref]
							,[Box_ref]
							,[Weight]
							,[Value]
							,[Qty]
							,[Dim_L]
							,[Dim_W]
							,[Dim_H]
							,[DT_Created]
							,[Last_Updated]
							,[Last_Upd_User]
						)
						VALUES
						(
							@TCAR_Ref
							,@Box_Num
							,0 --PLACEHOLDER
							,0 --PLACEHOLDER
							,0 --PLACEHOLDER
							,'1'
							,'1'
							,'1'
							,GETDATE()
							,GETDATE()
							,@User
						)

						SET @Current_Box_Weight = 0
						SET @Box_Num = @Box_Num + 1
					END

--=================================================================================================================================
-- GET & INSERT BOX DATA - 2.3
--=================================================================================================================================

				-- DETERMINE HOW MUCH CAN FIT IN CURRENT BOX
				DECLARE @Max_Qty_In_Box NUMERIC(14,2)
				SET @Max_Qty_In_Box = FLOOR((@Max_Box_Weight - @Current_Box_Weight) / @Weight_Per_Unit)

				IF @Max_Qty_In_Box > @Qty_To_Box OR @Max_Qty_In_Box <= 0
				SET @Max_Qty_In_Box = @Qty_To_Box

				INSERT INTO TCAR_BCON -- INSERT CONTENTS RECORD
				(
					[TCAR_Ref]
					,[Box_ref]
					,[Part]
					,[Qty]
					,[DT_Created]
					,[Last_Updated]
					,[Last_Upd_User]
				)
				VALUES
				(
					@TCAR_Ref
					,@Box_Num - 1
					,@Part
					,@Max_Qty_In_Box
					,GETDATE()
					,GETDATE()
					,@User
				)

--=================================================================================================================================
-- GET & INSERT BOX DATA - 2.4
--=================================================================================================================================

				-- UPDATE BOX TOTALS
				UPDATE 
						TCAR_BOXES
				SET 
						[Weight] = [Weight] + (@Max_Qty_In_Box * @Weight_Per_Unit)
						,[Value] = [Value] + CAST((@Part_Value* @Max_Qty_In_Box) AS NUMERIC(14,2))
						,[Qty] = [Qty] + @Max_Qty_In_Box
				WHERE 
						TCAR_Ref = @TCAR_Ref 
						AND Box_ref = @Box_Num - 1
				
				-- ADJUST COUNTERS
				SET @Current_Box_Weight = @Current_Box_Weight + (@Max_Qty_In_Box * @Weight_Per_Unit)
				SET @Qty_To_Box = @Qty_To_Box - @Max_Qty_In_Box

				-- IF BOX IS FULL, RESET FOR NEW BOX
				IF @Current_Box_Weight >= @Max_Box_Weight
				SET @Current_Box_Weight = 0
			END

--=================================================================================================================================
-- GET & INSERT BOX DATA - 2.5 - FETCH NEXT FROM CURSOR
--=================================================================================================================================

			FETCH NEXT FROM cur INTO @Part, @Part_Weight, @Part_Value, @Part_Qty
		END

		CLOSE cur
		DEALLOCATE cur
	END
