USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Check_Lines]    Script Date: 20/08/2025 08:51:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Check_Lines]

@TCAR_Ref VARCHAR(24)

AS

/*
ERROR STATE KEY
101 - CANNOT BE NULL OR EMPTY
102 - MUST BE BETWEEN 1 AND 99999
103 - MUST BE BETWEEN 1 AND 35 CHARACTERS
104 - MUST BE BETWEEN 1 AND 13 CHARACTERS
*/

--====================================================================================================================
-- GET DATA INTO CTE
--====================================================================================================================

;WITH ErrorCheck AS 
(
	SELECT 
				TCAR_Ref
				,Part
				,[Description]
				,[Error_Field] = 
				CASE 
					WHEN [Type] IS NULL OR [Type] = '' THEN 'Product Type'
					WHEN [CoO] IS NULL OR [CoO] = '' THEN 'Product Country of Origin'
					WHEN [HS_Code] IS NULL OR [HS_Code] = '' THEN 'Product Commodity Code'
					WHEN COALESCE(Part_Value, 0) < 0 OR COALESCE(Part_Value, 0) > 99999 THEN 'Product Value'
					WHEN COALESCE(Line_Value, 0) < 0 OR COALESCE(Line_Value, 0) > 99999 THEN 'Product Value'
					WHEN COALESCE(Line_Weight, 0) < 0 OR COALESCE(Line_Weight, 0) > 99999 THEN 'Product Weight'
					WHEN COALESCE(Qty, 0) < 1 OR COALESCE(Qty, 0) > 99999 THEN 'Product Qty'
					WHEN LEN(COALESCE([Description], '')) NOT BETWEEN 1 AND 35 THEN 'Product Description'
					WHEN LEN(COALESCE([Type], '')) NOT BETWEEN 1 AND 35 THEN 'Product Type'
					WHEN LEN(COALESCE([HS_Code], '')) NOT BETWEEN 1 AND 13 THEN 'Product Commodity Code'
					ELSE NULL
				END
				,[Error_State] =
				CASE 
					WHEN [Type] IS NULL OR [Type] = '' THEN 101
					WHEN [CoO] IS NULL OR [CoO] = '' THEN 101
					WHEN [HS_Code] IS NULL OR [HS_Code] = '' THEN 101
					WHEN COALESCE(Part_Value, 0) < 0 OR COALESCE(Part_Value, 0) > 99999 THEN 102
					WHEN COALESCE(Line_Value, 0) < 0 OR COALESCE(Line_Value, 0) > 99999 THEN 102
					WHEN COALESCE(Line_Weight, 0) < 0 OR COALESCE(Line_Weight, 0) > 99999 THEN 102
					WHEN COALESCE(Qty, 0) < 1 OR COALESCE(Qty, 0) > 99999 THEN 102
					WHEN LEN(COALESCE([Description], '')) NOT BETWEEN 1 AND 35 THEN 103
					WHEN LEN(COALESCE([Type], '')) NOT BETWEEN 1 AND 35 THEN 103
					WHEN LEN(COALESCE([HS_Code], '')) NOT BETWEEN 1 AND 13 THEN 104
					ELSE 0
				END
	FROM 
				TCAR_Line
	WHERE 
				TCAR_Ref = @TCAR_Ref
)

--====================================================================================================================
-- SELECT RESULTS
--====================================================================================================================

SELECT TOP 1
			CASE 
				WHEN ISNULL([Error_State], 0) > 0 
				THEN CONCAT('Part ', Part, ' - (', [Description], ') Has an error: ', Error_Field, ' ', 
				CASE 
					WHEN [Error_State] = 101 THEN 'cannot be null or empty'
					WHEN [Error_State] = 102 THEN 'must be between 1 and 99999'
					WHEN [Error_State] = 103 THEN 'must be between 1 and 35 characters'
					WHEN [Error_State] = 104 THEN 'must be between 1 and 13 characters'
				END, '.')
				ELSE 'No Error'
			END AS [Error]
FROM 
			ErrorCheck
WHERE 
			[Error_State] != 0

