USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Get_Del]    Script Date: 20/08/2025 08:53:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Get_Del]

@TCAR_Ref VARCHAR(24)

AS

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Client VARCHAR(255) = (SELECT Client FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Load_Note VARCHAR(24) = (SELECT Load_Note FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)


--=================================================================================================================================
-- GET DATA
--=================================================================================================================================

SET @SQL = @SQL + '


SELECT
			LEFT(ISNULL(RTRIM(cust_addr.initials) + '' '', '''') + ISNULL(RTRIM(cust_addr.full_name), ''''), 35) AS [Name]
			,LEFT(RTRIM(REPLACE(REPLACE(cust_addr.organisation, CHAR(13), ''''), CHAR(10), '''')), 35) AS [Company]
			,LEFT(RTRIM(REPLACE(REPLACE(cust_addr.postcode, CHAR(13), ''''), CHAR(10), '''')), 10) AS [Postcode]
			,LEFT(RTRIM(REPLACE(REPLACE(cust_addr.city, CHAR(13), ''''), CHAR(10), '''')), 35) AS [City]
			,LEFT(
				RTRIM(
					REPLACE(
						REPLACE(
								CASE 
										WHEN CHARINDEX(''~'', cust_addr.[address]) > 0 
										THEN LEFT(cust_addr.[address], CHARINDEX(''~'', cust_addr.[address]) - 1)
										ELSE cust_addr.[address]
								END, CHAR(13), ''''
						), CHAR(10), ''''
					)
				), 35
			) AS [Addr1]
			,LEFT(
				RTRIM(
					REPLACE(
						REPLACE(
								CASE 
										WHEN CHARINDEX(''~'', [address]) > 0 
										THEN SUBSTRING(cust_addr.[address], CHARINDEX(''~'', cust_addr.[address]) + 1, LEN(cust_addr.[address]))
										ELSE NULL
								END, CHAR(13), ''''
						), CHAR(10), ''''
					)
				), 35
			) AS [Addr2]
			,LEFT(RTRIM(REPLACE(REPLACE(cust_addr.county, CHAR(13), ''''), CHAR(10), '''')), 35) AS [County]
			,RTRIM(REPLACE(REPLACE(cust_addr.country, CHAR(13), ''''), CHAR(10), '''')) AS [Country]
			,LEFT(RTRIM(ISNULL(cust_addr.phone_day, ISNULL(cust_addr.phone_eve, ISNULL(cust_addr.phone_ext, mobile)))), 12) as [Phone]
			,LEFT(RTRIM(cust_addr.email), 35) as [Email]
			INTO #TEMP_UPDATE
FROM 
			' + @Connection_String + '.cust_addr
WHERE 
			cust_addr.address_ref = (
										SELECT 
													load_Dely.del_addr_ref 
										FROM 
													' + @Connection_String + '.load_Dely 
										WHERE 
													load_Dely.load_note = ''' + @Load_Note + '''
									)			
			AND cust_addr.customer = (
										SELECT 
													load_Dely.customer 
										FROM 
													' + @Connection_String + '.load_Dely 
										WHERE 
													load_Dely.load_note = ''' + @Load_Note + '''
									)
'

--=================================================================================================================================
-- UPDATE TCAR RECORD
--=================================================================================================================================

SET @SQL = @SQL + '

UPDATE 
		TCAR
SET
		TCAR.Name = #TEMP_UPDATE.Name
		,TCAR.Company = #TEMP_UPDATE.Company
		,TCAR.Postcode = #TEMP_UPDATE.Postcode
		,TCAR.City = #TEMP_UPDATE.City
		,TCAR.Addr1 = LEFT(#TEMP_UPDATE.Addr1, 35)
		,TCAR.Addr2 = LEFT(#TEMP_UPDATE.Addr2, 35)
		,TCAR.County = #TEMP_UPDATE.County
		,TCAR.Country = #TEMP_UPDATE.Country
		,TCAR.Phone = #TEMP_UPDATE.Phone
		,TCAR.Email = #TEMP_UPDATE.Email
		,TCAR.Last_Updated = GETDATE()
FROM 
		#TEMP_UPDATE
WHERE 
		TCAR.Load_Note = ''' + @Load_Note + '''
'

--=================================================================================================================================
-- CLEAN UP
--=================================================================================================================================

SET @SQL = @SQL + '

DROP TABLE #TEMP_UPDATE

'

--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

PRINT(@SQL)
EXECUTE(@SQL)
	
