USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Save]    Script Date: 20/08/2025 08:58:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Save]

@TCAR_Ref VARCHAR(24)
,@Carrier VARCHAR(24)
,@Service VARCHAR(24)
,@Inco VARCHAR(24)
,@Eori VARCHAR(24)
,@IOSS VARCHAR(24)
,@Name VARCHAR(35)
,@Company VARCHAR(35)
,@Postcode VARCHAR(10)
,@City VARCHAR(35)
,@Addr1 VARCHAR(35)
,@Addr2 VARCHAR(35)
,@County VARCHAR(35)
,@Country VARCHAR(35)
,@Email VARCHAR(35)
,@Phone VARCHAR(12)
,@Ref1 VARCHAR(24)
,@Ref2 VARCHAR(24)
,@User VARCHAR(100) = ''

as

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @Client VARCHAR(255) = (SELECT Client FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Load_Note VARCHAR(24) = (SELECT Load_Note FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Client_Id INT = (SELECT ID FROM TAFIE_Clients WHERE [Description] = @Client)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

SET @SQL = @SQL +
'

DECLARE @Country_Code VARCHAR(12) = (SELECT country FROM ' + @Connection_String + '.ctry WHERE descr = ''' + ISNULL(REPLACE(@Country, '''',''''''),'') + ''')

UPDATE 
		[TCAR]
SET
		[carrier] = CASE WHEN ''' + ISNULL(REPLACE(@Carrier, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Carrier, '''',''''''), '') + ''' END
		,[Del_Method] = CASE WHEN ''' + ISNULL(REPLACE(@Service, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Service, '''',''''''), '') + ''' END
		,[Inco] = CASE WHEN ''' + ISNULL(REPLACE(@Inco, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Inco, '''',''''''), '') + ''' END
		,[EORI]= CASE WHEN ''' + ISNULL(REPLACE(@Eori, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Eori, '''',''''''), '') + ''' END
		,[IOSS]= CASE WHEN ''' + ISNULL(REPLACE(@IOSS, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@IOSS, '''',''''''), '') + ''' END
		,[Name] = CASE WHEN ''' + ISNULL(REPLACE(@Name, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Name, '''',''''''), '') + ''' END
		,[Company] = CASE WHEN ''' + ISNULL(REPLACE(@Company, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Company, '''',''''''), '') + ''' END
		,[Postcode] = CASE WHEN ''' + ISNULL(REPLACE(@Postcode, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Postcode, '''',''''''), '') + ''' END
		,[City] = CASE WHEN ''' + ISNULL(REPLACE(@City, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@City, '''',''''''), '') + ''' END
		,[Addr1] = CASE WHEN ''' + ISNULL(REPLACE(@Addr1, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Addr1, '''',''''''), '') + ''' END
		,[Addr2] = CASE WHEN ''' + ISNULL(REPLACE(@Addr2, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Addr2, '''',''''''), '') + ''' END
		,[County] = CASE WHEN ''' + ISNULL(REPLACE(@County, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@County, '''',''''''), '') + ''' END
		,[Country] = ISNULL(@Country_Code, '''')
		,[Email] = CASE WHEN ''' + ISNULL(REPLACE(@Email, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Email, '''',''''''), '') + ''' END
		,[Phone] = CASE WHEN ''' + ISNULL(REPLACE(@Phone, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Phone, '''',''''''), '') + ''' END
		,[Ref1] = CASE WHEN ''' + ISNULL(REPLACE(@Ref1, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Ref1, '''',''''''), '') + ''' END
		,[Ref2] = CASE WHEN ''' + ISNULL(REPLACE(@Ref2, '''',''''''), 'X') + ''' = ''X'' THEN NULL ELSE ''' + ISNULL(REPLACE(@Ref2, '''',''''''), '') + ''' END
		,[Last_Updated] = GETDATE()
		,[Last_Upd_User] = User_Created
		,[Intg_Code] = ISNULL(
									(
										SELECT TOP 1
													RTRIM(carr_intg.intg_code) as [Intg_Code]
										FROM 													
													' + @Connection_String + '.carr_intg
										WHERE 
													carr_intg.carrier = ''' + ISNULL(REPLACE(@Carrier, '''',''''''), '') + '''													
									), 
									ISNULL(
									(
										SELECT TOP 1 
													RTRIM(TCAR_CMAP.Intg_Code) 
										FROM 
													TCAR_CMAP 
										WHERE 
													TCAR_CMAP.E9_Carrier = ''' + ISNULL(REPLACE(@Carrier, '''',''''''), '') + '''
									), ''ER''
								)
							) 
		,[Service_Id] = ISNULL(
									(
										SELECT TOP 1
													RTRIM(carr_ddtl.Service_Id) as [Service_Id]
										FROM 													
													' + @Connection_String + '.carr_ddtl
										WHERE 
													carr_ddtl.carrier = ''' + ISNULL(REPLACE(@Carrier, '''',''''''), '') + '''
													AND carr_ddtl.del_method = ''' + ISNULL(REPLACE(@Service, '''',''''''), '') + '''
									), 
									ISNULL(
									(
										SELECT TOP 1 
													RTRIM(TCAR_CMAP.Service_Id) 
										FROM 
													TCAR_CMAP 
										WHERE 
													TCAR_CMAP.E9_Carrier = ''' + ISNULL(REPLACE(@Carrier, '''',''''''), '') + '''
													AND TCAR_CMAP.E9_Del_Method = ''' + ISNULL(REPLACE(@Service, '''',''''''), '') + '''
									), ''ER''
								)
							) 
		,[Service_Level] = ISNULL(
									(
										SELECT TOP 1
													RTRIM(carr_ddtl.Service_Level) as [Service_Level]
										FROM 													
													' + @Connection_String + '.carr_ddtl
										WHERE 
													carr_ddtl.carrier = ''' + ISNULL(REPLACE(@Carrier, '''',''''''), '') + '''
													AND carr_ddtl.del_method = ''' + ISNULL(REPLACE(@Service, '''',''''''), '') + '''
									), 
									ISNULL(
									(
										SELECT TOP 1 
													RTRIM(TCAR_CMAP.service_level) 
										FROM 
													TCAR_CMAP 
										WHERE 
													TCAR_CMAP.E9_Carrier = ''' + ISNULL(REPLACE(@Carrier, '''',''''''), '') + '''
													AND TCAR_CMAP.E9_Del_Method = ''' + ISNULL(REPLACE(@Service, '''',''''''), '') + '''
									), ''ER''
								)
							) 
		,[Service_Descr] = ISNULL(
									(
										SELECT TOP 1 
													RTRIM(TCAR_CMAP.[Description]) 
										FROM 
													TCAR_CMAP 
										WHERE 
													TCAR_CMAP.E9_Carrier = ''' + ISNULL(REPLACE(@Carrier, '''',''''''), '') + '''
													AND TCAR_CMAP.E9_Del_Method = ''' + ISNULL(REPLACE(@Service, '''',''''''), '') + '''
									), ''No Description Found''
								)
		,[API_Acc] = ISNULL(
					(
						SELECT TOP 1
									RTRIM(carr_dtls.account_no) as [API_Acc]
						FROM 
									' + @Connection_String + '.carr_dtls
						WHERE 
									carr_dtls.Carrier = ''' + ISNULL(@Carrier, '') + '''
									
					),  ''ER''			
				)
WHERE 
		TCAR.TCAR_Ref = ''' + @TCAR_Ref + '''
'

--=================================================================================================================================
-- EVALUATE API USED
--=================================================================================================================================

SET @SQL = @SQL + '

DECLARE @Intg_Code VARCHAR(12) = (SELECT Intg_Code FROM TCAR WHERE TCAR_Ref = ''' + @TCAR_Ref + ''')

IF @Intg_Code = ''PROCAR''
	BEGIN
		DECLARE @API_Key VARCHAR(255) = 
		(
			SELECT 
						RTRIM(VALUE) 
			FROM 
						' + @Connection_String + '.intg_parm 
			WHERE 
						package = ''PROCAR'' 
						AND parameter = ''API_KEY''
		)

		UPDATE 
				TCAR 
		SET 
				[API_Acc] = @API_Key
				,[Acc_Code] = NULL
		WHERE 
				TCAR_Ref = ''' + @TCAR_Ref + '''

		



	END
'

PRINT (@SQL)
EXECUTE(@SQL)