USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_INSERT_BCON]    Script Date: 20/08/2025 08:56:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_INSERT_BCON]

@TCAR_Ref VARCHAR(24)
,@Box_Ref VARCHAR(3)
,@Part VARCHAR(24)
,@Qty VARCHAR(24)
,@User VARCHAR(100)

AS

--======================================================================================================================
-- DECLARE VARIABLES
--======================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Error_State INT
DECLARE @Line VARCHAR(100) = (SELECT MAX(line) + 1 FROM TCAR_Line WHERE TCAR_Line.TCAR_Ref = @TCAR_Ref)
DECLARE @Error VARCHAR(100)
DECLARE @Client VARCHAR(255) = (SELECT TCAR.Client FROM TCAR WHERE TCAR.TCAR_Ref = @TCAR_Ref)
SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--======================================================================================================================
-- INSERT TCAR_LINE
--======================================================================================================================

SET @SQL = '

INSERT INTO [TCAR_Line] 
(
	[TCAR_Ref]
	,[Line]
	,[Part]
	,[Description]
	,[Type]
	,[Line_Value]
	,[Qty]
	,[Line_Weight]
	,[CoO]
	,[HS_Code]
	,[DT_Created]
	,[Last_Updated]
	,[Last_Upd_User]
)

SELECT TOP 1
			''' + @TCAR_Ref + '''
			,''' + @Line + '''
			,RTRIM(part.part)
			,RTRIM(part.descr)
			,RTRIM(pgrp.descr)
			,CAST(part_trad.part_price AS numeric(14,2)) * ''' + @Qty + '''
			,''' + @Qty + '''
			,part_dims.weight * ''' + @Qty + '''
			,RTRIM(part_ctro.country)
			,RTRIM(part_hscd.harmonised_code)
			,GETDATE()
			,GETDATE()
			,''' + @User + '''
FROM 
			' + @Connection_String + '.part
			LEFT JOIN ' + @Connection_String + '.pgrp ON part.prod_group = pgrp.prod_group
			LEFT JOIN ' + @Connection_String + '.part_trad on part.part = part_trad.part
			LEFT JOIN ' + @Connection_String + '.part_dims ON part.part = part_dims.part 
			LEFT JOIN ' + @Connection_String + '.part_hscd ON part.part = part_hscd.part 
			LEFT JOIN ' + @Connection_String + '.part_ctro ON part.part = part_ctro.part 
WHERE 
			part.part = ''' + @Part + ''''

PRINT(@SQL)
EXECUTE(@SQL)

--======================================================================================================================
-- CHECK PART
--======================================================================================================================

IF NOT EXISTS (SELECT 1 FROM TCAR_Line WHERE Part = @Part AND Line = @Line)
BEGIN 
			SET @Error_State = 1
			SET @Error = 'Part does not defined'

			DELETE 
					TCAR_BCON
			WHERE 
					Part = @Part 
					AND Box_Ref = @Box_Ref 
					AND TCAR_Ref = @TCAR_Ref

END

--======================================================================================================================
-- TRY UPDATE
--======================================================================================================================

INSERT INTO TCAR_BCON 
(
	[TCAR_Ref]
	,[Box_Ref]
	,[Part]
	,[Qty]
	,[DT_Created]
	,[Last_Updated]
	,[Last_Upd_User]
)
VALUES
(
	@TCAR_Ref
	,@Box_Ref
	,@Part
	,@Qty
	,GETDATE()
	,GETDATE()
	,@User
)


--======================================================================================================================
-- CHECK UPDATE DOES NOT EXCEED WEIGHT LIMIT
--======================================================================================================================

DECLARE @Max_Box_Weight NUMERIC(18,2)
DECLARE @Part_Weight NUMERIC(18,2)
DECLARE @New_Box_Weight NUMERIC(18,2)

SET @Max_Box_Weight = (SELECT int_1 FROM TCAR_Parameters WHERE ID = '001')
SET @Part_Weight = (SELECT TOP 1 ISNULL(Part_Weight, 0) FROM TCAR_LINE WHERE Part = @Part AND TCAR_Ref = @TCAR_Ref)

SET @New_Box_Weight = (
							SELECT 
										ISNULL(SUM(TCAR_Line.Part_Weight * TCAR_BCON.Qty), 0)
							FROM 
										TCAR_BCON
										LEFT JOIN TCAR_Line ON TCAR_Line.TCAR_Ref = TCAR_BCON.TCAR_Ref AND TCAR_Line.Part = TCAR_BCON.Part
							WHERE 
										TCAR_BCON.Box_Ref = @Box_Ref 
										AND TCAR_BCON.TCAR_Ref = @TCAR_Ref
							GROUP BY
										TCAR_BCON.Box_Ref 
										,TCAR_BCON.TCAR_Ref
						)

--======================================================================================================================
-- IF WEIGHT EXCEEDED, RETURN ERROR AND RESET RECORD
--======================================================================================================================

WHILE @Error = 0
BEGIN
	IF @New_Box_Weight > @Max_Box_Weight
		BEGIN

			SET @Error_State = 1
			SET @Error = 'New box weight will exceed maximum!'
				
			-- ROLLBACK UPDATE
			DELETE 
					TCAR_BCON
			WHERE 
					Part = @Part 
					AND Box_Ref = @Box_Ref 
					AND TCAR_Ref = @TCAR_Ref

		END

--======================================================================================================================
-- ELSE RETURN SUCCESS
--======================================================================================================================

	ELSE
		BEGIN	

			SET @Error_State = 2
			SET @Error = 'UPDATE SUCCESSFUL'

			-- UPDATE TCAR_BCON WITH NEW WEIGHT
			UPDATE 
					TCAR_BOXES
			SET 
					[Weight] = @New_Box_Weight + 0.5
					,Last_Updated = GETDATE()
			WHERE 
					Box_Ref = @Box_Ref 
					AND TCAR_Ref = @TCAR_Ref
		END
END

--======================================================================================================================
-- RETURN RESULTS
--======================================================================================================================

SELECT 
			@Error_State
			,@Error

PRINT @New_Box_Weight
PRINT @Max_Box_Weight


