USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Complete_Load_P4]    Script Date: 20/08/2025 08:52:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Complete_Load_P4]

@TCAR_Ref VARCHAR(24)

AS

--========================================================================================================
-- DECALRE VARIABLES
--========================================================================================================

DECLARE @Ref_No VARCHAR(24) = (SELECT TOP 1 Ref_No FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Load_Note VARCHAR(24) = (SELECT TOP 1 Load_Note FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @User VARCHAR(24) = (SELECT TOP 1 User_Created FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Tkey VARCHAR(255) = REPLACE(RTRIM((CONVERT(VARCHAR(10), CURRENT_TIMESTAMP, 112)) + (CONVERT(VARCHAR(10), CURRENT_TIMESTAMP, 14))), ':', '')
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Client VARCHAR(255) = (SELECT Client FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)


--========================================================================================================
-- UPDATE SORD HEADERS
--========================================================================================================

SET @SQL = @SQL + '

-- SORD --
DECLARE @Total_Qty_Sord INT = (SELECT COUNT(*) FROM ' + @Connection_String + '.sord_schd WHERE ref_no = ''' + @Ref_No + ''')
DECLARE @Comp_Qty_Sord INT = (SELECT COUNT(*) FROM ' + @Connection_String + '.sord_schd WHERE ref_no = ''' + @Ref_No + ''' AND [status] IN (200,220))

IF @Total_Qty_Sord = @Comp_Qty_Sord
	BEGIN
		-- SORD --
		UPDATE 
				' + @Connection_String + '.sord
		SET 
				[status] = 220
				,last_updated = GETDATE()
				,last_upd_user = ''' + @User + '''
		WHERE 
				ref_no = ''' + @Ref_No + '''

		-- SORD_DELY --
		UPDATE 
				' + @Connection_String + '.sord_dely
		SET 
				[status] = 220
				,last_updated = GETDATE()
				,last_upd_user = ''' + @User + '''
		WHERE 
				ref_no = ''' + @Ref_No + '''

		-- SOST_ACCP --
		DELETE 
				' + @Connection_String + '.sost_accp 
		WHERE 
			ref_no = ''' + @Ref_No + '''		
	END
ELSE
	BEGIN 
		-- SORD --
		UPDATE 
				' + @Connection_String + '.sord
		SET 
				[status] = 80
				,last_updated = GETDATE()
				,last_upd_user = ''' + @User + '''
		WHERE 
				ref_no = ''' + @Ref_No + '''

		-- SORD_DELY --
		UPDATE 
				' + @Connection_String + '.sord_dely
		SET 
				[status] = 80
				,last_updated = GETDATE()
				,last_upd_user = ''' + @User + '''
		WHERE 
				ref_no = ''' + @Ref_No + '''
	END
'

--========================================================================================================
-- PRINT & EXECUTE SQL
--========================================================================================================

		PRINT(@SQL)
		EXECUTE(@SQL)

