USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_RECAL]    Script Date: 20/08/2025 08:57:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_RECAL]


@TCAR_Ref VARCHAR(24)

as

--=================================================================================================================================
-- CLEAR OLD RECORDS
--=================================================================================================================================

DELETE TCAR_Line WHERE TCAR_Ref = @TCAR_Ref
DELETE TCAR_BOXES WHERE TCAR_Ref = @TCAR_Ref
DELETE TCAR_BCON WHERE TCAR_Ref = @TCAR_Ref

--=================================================================================================================================
-- GET DATA AGAIN TO RECAL
--=================================================================================================================================

EXECUTE [TCAR_Get_Comp] @TCAR_Ref