USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Get_Combos]    Script Date: 20/08/2025 08:53:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Get_Combos]

@Client VARCHAR(255)
,@Mode INT = 1
,@Carrier VARCHAR(24) = ''

As

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- SET DYNAMIC QUERY (MODE 1)
--=================================================================================================================================

IF @Mode = 1
	BEGIN

		SET @SQL = @SQL + '

		SELECT
					RTRIM(carr_ddtl.carrier) as [Carrier]
					,RTRIM(carr_ddtl.del_method) as [Delivery Method]
					,RTRIM(dmtd.descr) as [Description]
		FROM 
					' + @Connection_String + '.carr_ddtl
					INNER JOIN ' + @Connection_String + '.dmtd on dmtd.del_method = carr_ddtl.del_method
					INNER JOIN ' + @Connection_String + '.carr_intg on carr_ddtl.carrier = carr_intg.carrier
		WHERE 
					carr_intg.intg_code IN (''PHUB_API'',''PROCAR'')
	'
	END

--=================================================================================================================================
-- SET DYNAMIC QUERY (MODE 2)
--=================================================================================================================================

ELSE IF @Mode = 2
	BEGIN

		SET @SQL = @SQL + '

		SELECT
					RTRIM(carr_ddtl.carrier) as [Carrier]
					,RTRIM(carr_ddtl.del_method) as [Delivery Method]
					,RTRIM(dmtd.descr) as [Description]
		FROM 
					' + @Connection_String + '.carr_ddtl
					INNER JOIN ' + @Connection_String + '.dmtd on dmtd.del_method = carr_ddtl.del_method
					INNER JOIN ' + @Connection_String + '.carr_intg on carr_ddtl.carrier = carr_intg.carrier
		WHERE 
					carr_intg.intg_code IN (''PHUB_API'',''PROCAR'')
					AND carr_ddtl.carrier = ''' + @Carrier + '''
	'
	END

--=================================================================================================================================
-- SET DYNAMIC QUERY (MODE 3)
--=================================================================================================================================

ELSE IF @Mode = 3
	BEGIN

		SET @SQL = @SQL + '

		SELECT
					DISTINCT RTRIM(carr_ddtl.carrier) as [Carrier]
		FROM 
					' + @Connection_String + '.carr_ddtl
					INNER JOIN ' + @Connection_String + '.dmtd on dmtd.del_method = carr_ddtl.del_method
					INNER JOIN ' + @Connection_String + '.carr_intg on carr_ddtl.carrier = carr_intg.carrier
		WHERE 
					carr_intg.intg_code IN (''PHUB_API'',''PROCAR'')
	'
	END

--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

PRINT(@SQL)
EXECUTE(@SQL)