USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Get_Results]    Script Date: 20/08/2025 08:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Get_Results]

@TCAR_Ref VARCHAR(24)
,@Mode INT

AS

--===================================================================================================
-- GET DATA FROM FORM FIELDS
--===================================================================================================

IF @Mode = 1

	BEGIN

		SELECT
					[Carrier]
					,[Del_Method]
					,[Service_Descr]
					,[Inco]
					,[EORI]
					,[IOSS]
					,[Name]
					,[Company]
					,[Postcode]
					,[city]
					,[Addr1]
					,[Addr2]
					,[County]
					,(SELECT TOP 1 [Description] FROM TAFIE_Ctry WHERE TAFIE_Ctry.Ctry_Code = TCAR.[Country])as [Country]
					,[Email]
					,[Phone]
					,[Ref1]
					,[Ref2]
					,[Acc_Code] 
					,[Intg_Code]
		FROM 
					TCAR
		WHERE 
					TCAR_Ref = @TCAR_Ref

	END

--===================================================================================================
-- GET DATA FOR DATAGRID
--===================================================================================================

ELSE IF @Mode = 2

	BEGIN

		SELECT
					[Part]
					,[Description]
					,[Qty]
					,[Line_Weight]
					,[Line_Value]
					,[HS_Code]
					,[CoO]
					,[Type]
					,CASE 
						WHEN [Type] IS NULL OR [Type] = '' THEN 1
						WHEN [CoO] IS NULL OR [CoO] = '' THEN 1
						WHEN [HS_Code] IS NULL OR [HS_Code] = '' THEN 1
						WHEN COALESCE(Part_Value, 0) < 0 OR COALESCE(Part_Value, 0) > 99999 THEN 2
						WHEN COALESCE(Line_Value, 0) < 0 OR COALESCE(Line_Value, 0) > 99999 THEN 2
						WHEN COALESCE(Line_Weight, 0) < 0 OR COALESCE(Line_Weight, 0) > 99999 THEN 1
						WHEN COALESCE(Qty, 0) < 1 OR COALESCE(Qty, 0) > 99999 THEN 1
						WHEN LEN(COALESCE([Description], '')) NOT BETWEEN 1 AND 35 THEN 2
						WHEN LEN(COALESCE([Type], '')) NOT BETWEEN 1 AND 35 THEN 1
						WHEN LEN(COALESCE([HS_Code], '')) NOT BETWEEN 1 AND 13 THEN 1
						ELSE 0
					END as [Error]
		FROM 
					TCAR_Line
		WHERE 
					TCAR_Ref = @TCAR_Ref

	END

--===================================================================================================
-- GET DATA FOR BOXES
--===================================================================================================

ELSE IF @Mode = 3

	BEGIN 

		SELECT 
					SUM(ISNULL([Weight], 0)) as [Total_Weight]
					,SUM(ISNULL(Value, 0)) as [Total_Value]
					,SUM(Dim_L * Dim_H * Dim_L) as [Volume]
					,COUNT(Box_Ref) as [Boxes]
					,ISNULL((SELECT TOP 1 DDP FROM TCAR_CMAP WHERE TCAR.Service_Level = TCAR_CMAP.Service_Level), 0) as [DDP]
					,ISNULL(
							CASE 
									WHEN ISNULL(TCAR.Country, 'GB') != 'GB' THEN 0
									ELSE 1
							END, 1
					) as [Domestic]
		FROM 
					TCAR
					LEFT JOIN TCAR_BOXES on TCAR.TCAR_Ref = TCAR_BOXES.TCAR_Ref
		WHERE 
					TCAR.TCAR_Ref = @TCAR_Ref
		GROUP BY
					TCAR.TCAR_Ref
					,TCAR.Country
					,TCAR.Service_Level

	END 


--===================================================================================================
-- GET DATA FOR SHIPMENT CONTENTS
--===================================================================================================

ELSE IF @Mode = 4

	BEGIN 

		SELECT 
					TCAR_BOXES.Box_Ref
					,TCAR_BCON.Part
					,(
						SELECT TOP 1 
									[Description] 
						FROM 
									TCAR_Line 
						WHERE 
									TCAR_Line.part = TCAR_BCON.Part 
									AND TCAR_Line.TCAR_Ref = TCAR_BOXES.TCAR_Ref
					) as [Description]
					,TCAR_BCON.Qty							
		FROM 
					TCAR_BOXES
					LEFT JOIN TCAR_BCON on TCAR_BOXES.Box_Ref = TCAR_BCON.Box_Ref AND TCAR_BOXES.TCAR_Ref = TCAR_BCON.TCAR_Ref					
		WHERE 
					TCAR_BOXES.TCAR_Ref = @TCAR_Ref
	END 

--===================================================================================================
-- GET DATA FOR BOX MANAGER
--===================================================================================================

ELSE IF @Mode = 5

	BEGIN

		SELECT
					TCAR_Line.[Part]
					,TCAR_Line.[Description]
					,TCAR_Line.[Qty]
					,TCAR_Line.[Line_Weight]
					,TCAR_Line.[Line_Value]					
		FROM 
					TCAR_Line
		WHERE 
					TCAR_Line.TCAR_Ref = @TCAR_Ref

	END