USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_INSERT_XML]    Script Date: 20/08/2025 08:57:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_INSERT_XML]

@tkey VARCHAR(255)
,@TCAR_Ref VARCHAR(24)
,@User VARCHAR(100)
,@XML_String NVARCHAR(MAX)
,@Mode Int
as

--============================================================
-- MODE 1 API CALL
--============================================================

IF @Mode = 1
	BEGIN

		INSERT INTO [TCAR_Call]
		(
			[tkey]
			,[TCAR_Ref]
			,[Status]
			,[DT_Created]
			,[User_Created]
			,[XML_MESSAGE]
		)
		VALUES
		(
			@tkey
			,@TCAR_Ref
			,200
			,GETDATE()
			,@User
			,@XML_String
		)

	END

--============================================================
-- MODE 2 API RESPONSE (SUCCESS)
--============================================================

ELSE IF @Mode = 2

	BEGIN

		INSERT INTO [TCAR_Resp]
		(
			[tkey]
			,[TCAR_Ref]
			,[Status]
			,[DT_Created]
			,[User_Created]
			,[XML_MESSAGE]
		)
		VALUES
		(
			@tkey
			,@TCAR_Ref
			,200
			,GETDATE()
			,@User
			,@XML_String
		)

	END

--============================================================
-- MODE 3 API RESPONSE (FAIL)
--============================================================

ELSE IF @Mode = 3

	BEGIN

		INSERT INTO [TCAR_Resp]
		(
			[tkey]
			,[TCAR_Ref]
			,[Status]
			,[DT_Created]
			,[User_Created]
			,[XML_MESSAGE]
		)
		VALUES
		(
			@tkey
			,@TCAR_Ref
			,400
			,GETDATE()
			,@User
			,@XML_String
		)

		-- UDPATE CALL RECORD --

		UPDATE 
				[TCAR_Call]
		SET 
				[Status] = 400
		WHERE 
				[tkey] = @tkey

	END

