USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Rpnt_Srch]    Script Date: 20/08/2025 08:58:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Rpnt_Srch]

@Session_Id VARCHAR(255)
,@Search VARCHAR(255)

as

--=====================================================================================
-- DELETE OLD SEARCH RESULTS
--=====================================================================================

DELETE 
		[TCAR_Srch]
WHERE 
		Session_Id = @Session_Id

--=====================================================================================
-- GET NEW RESULTS
--=====================================================================================

INSERT INTO [TCAR_Srch]
(
	[Session_Id]
	,[TCAR_Ref]
	,[Ref1]
	,[Ref2]
	,[Tracking]
	,[DT_Created]
	,[XML_MESSAGE]
)

SELECT
			@Session_Id
			,TCAR.TCAR_Ref
			,TCAR.Ref1
			,TCAR.Ref2
			,TCAR.Tracking
			,TCAR_Resp.DT_Created
			,TCAR_Resp.XML_MESSAGE
FROM 
			TCAR 
			INNER JOIN TCAR_Resp on TCAR.TCAR_Ref = TCAR_Resp.TCAR_Ref
WHERE 
			TCAR.[Status] IN (220, 225)
			AND TCAR_Resp.[Status] = 200
			AND TCAR_Resp.DT_Created > DATEADD(HOUR, -24, GETDATE())
			AND 
			(
				[Ref1] LIKE '%' + @Search + '%'
				OR [Ref2] LIKE '%' + @Search + '%'
				OR [Tracking] LIKE '%' + @Search + '%'
				OR TCAR.[TCAR_Ref] LIKE '%' + @Search + '%'
				OR RTRIM(CAST(TCAR_Resp.DT_Created as date)) = @Search
			)

--=====================================================================================
-- SHOW RESULTS
--=====================================================================================

SELECT
			[Ref1] as [Reference 1]
			,[Ref2] as [Reference 2]
			,[Tracking]
			,[DT_Created] as [Print Date]
FROM 
			[TCAR_Srch]
WHERE 
			Session_Id = @Session_Id