USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Check_TOKN]    Script Date: 20/08/2025 08:51:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Check_TOKN]

@Acc_Code VARCHAR(8)

as

--==========================================================================================
-- CANCEL EXPIRED TOKENS
--==========================================================================================

UPDATE 
		TCAR_TOKN
SET 
		[Status] = 90
WHERE 
		(
			DT_Created <= DATEADD(MINUTE, -240, GETDATE()) 
			AND [Status] = 20
		)
		OR 
		(
			TCAR_TOKN.Access_Tkn = 'Access Token Not found'
		)

--==========================================================================================
-- DELETE TOKENS OLDER THAN 30 DAYS
--==========================================================================================

DELETE 
		TCAR_TOKN
WHERE 
		[Status] = 90
		AND DT_Created <= DATEADD(DAY, -30, GETDATE()) 		


--==========================================================================================
-- GET ANY VALID TOKENS 
--==========================================================================================

SELECT TOP 1
		RTRIM(Access_Tkn) as [Acc_Code]
		INTO #TEMP_TKN
FROM 
		TCAR_TOKN 
WHERE 
		DT_Created >= DATEADD(MINUTE, -200, GETDATE()) 
		AND [Status] = 20
		AND Acc_Code = @Acc_Code

IF EXISTS (SELECT 1 FROM #TEMP_TKN)
	BEGIN
		SELECT* FROM #TEMP_TKN
	END
ELSE
	BEGIN 
		SELECT 'NO TOKEN' as [Acc_Code]
	END