USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Complete_Load_P1]    Script Date: 20/08/2025 08:51:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Complete_Load_P1]

@TCAR_Ref VARCHAR(24)

AS

--========================================================================================================
-- DECALRE VARIABLES
--========================================================================================================

DECLARE @Ref_No VARCHAR(24) = (SELECT TOP 1 Ref_No FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Load_Note VARCHAR(24) = (SELECT TOP 1 Load_Note FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @User VARCHAR(24) = (SELECT TOP 1 User_Created FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Tkey VARCHAR(255) = REPLACE(RTRIM((CONVERT(VARCHAR(10), CURRENT_TIMESTAMP, 112)) + (CONVERT(VARCHAR(10), CURRENT_TIMESTAMP, 14))), ':', '')
DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Client VARCHAR(255) = (SELECT Client FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--========================================================================================================
-- UPDATE LOAD TABLES
--========================================================================================================

/*
Update all line level data in elucid
*/

SET @SQL = @SQL + '		
-- LOAD_LINE --
UPDATE 
		' + @Connection_String + '.load_line
SET 
		[status] = 220
		,last_updated = GETDATE()
		,last_upd_user = ''' + @User + '''		
		,qty_shipped = qty_iss
		,qty_discard = 0
WHERE 
		load_note = ''' + @Load_Note + '''

-- LOAD_SCHD --

UPDATE 
		' + @Connection_String + '.load_schd
SET 
		[status] = 220
		,last_updated = GETDATE()
		,last_upd_user = ''' + @User + '''
		,qty_shipped = qty_iss
		,qty_discard = 0
WHERE 
		load_note = ''' + @Load_Note + '''
'

--========================================================================================================
-- UPDATE SORD TABLES
--========================================================================================================

-- SORD_LINE --
SET @SQL = @SQL + '
UPDATE 
		' + @Connection_String + '.sord_line
SET 
		[status] = 220
		,last_updated = GETDATE()
		,last_upd_user = ''' + @User + '''
		,qty_iss = qty_req
		,qty_load = 0
		,qty_discard = 0
WHERE 
		ref_no = ''' + @Ref_No + '''

-- SORD_SCHD --
UPDATE 
		' + @Connection_String + '.sord_schd
SET 
		[status] = 220
		,last_updated = GETDATE()
		,last_upd_user = ''' + @User + '''
		,qty_iss = qty
		,qty_discard = 0
WHERE 
		ref_no = ''' + @Ref_No + '''
'
--========================================================================================================
-- PRINT & EXECUTE SQL
--========================================================================================================

		PRINT(@SQL)
		EXECUTE(@SQL)

