USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Insert_New_BCON]    Script Date: 20/08/2025 08:56:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Insert_New_BCON]


@TCAR_Ref VARCHAR(24)
,@Box_Ref INT
,@Part VARCHAR(24)
,@Qty VARCHAR(24)
,@User VARCHAR(100)

as

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Ref_No VARCHAR(24) = (SELECT Ref_No FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Part_Weight DECIMAL(14,7) = (SELECT TOP 1 Part_Weight FROM TCAR_Line WHERE part = @Part AND TCAR_Ref = @TCAR_Ref)
DECLARE @Part_Value DECIMAL(14,7) = (SELECT TOP 1 Part_Value FROM TCAR_Line WHERE part = @Part AND TCAR_Ref = @TCAR_Ref)
DECLARE @Client VARCHAR(255) = (SELECT TCAR.Client FROM TCAR WHERE TCAR.TCAR_Ref = @TCAR_Ref)
SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- UPDATE BOX CONTENTS
--=================================================================================================================================

--IF EXISTS (SELECT part FROM TCAR_BCON WHERE part = @Part AND TCAR_Ref = @TCAR_Ref AND Box_Ref = @Box_Ref)
--	BEGIN
--		UPDATE 
--				TCAR_BCON
--		SET 
--				Box_Ref = @Box_Ref
--				,qty = @Qty
--				,Last_Updated = GETDATE()
--		WHERE 
--				part = @Part 
--				AND TCAR_Ref = @TCAR_Ref
--	END
--ELSE
	BEGIN
		INSERT INTO TCAR_BCON
		(
			[TCAR_Ref]
			,[Box_Ref]
			,[Part]
			,[Qty]
			,[DT_Created]
			,[Last_Updated]
			,[Last_Upd_User]
		)
		VALUES
		(
			@TCAR_Ref
			,@Box_Ref
			,@Part
			,@Qty
			,GETDATE()
			,GETDATE()
			,@User
		)
	END



--=================================================================================================================================
-- UPDATE BOX TOTALS
--=================================================================================================================================

IF EXISTS (SELECT box_ref FROM TCAR_BOXES WHERE Box_Ref = @Box_Ref AND TCAR_Ref = @TCAR_Ref)
	BEGIN
		UPDATE 
				TCAR_BOXES
		SET 
				[Weight] = [Weight] + (@Qty * @Part_Weight)
				,[Value] = [Value] + CAST((@Part_Value* @Qty) AS NUMERIC(14,2))
				,[Qty] = [Qty] + @Qty
		WHERE 
				TCAR_Ref = @TCAR_Ref 
				AND Box_ref = @Box_Ref
	END
ELSE
	BEGIN 
		INSERT INTO TCAR_BOXES -- INSERT NEW BOX RECORD
		(
			[TCAR_Ref]
			,[Box_ref]
			,[Weight]
			,[Value]
			,[Qty]
			,[Dim_L]
			,[Dim_W]
			,[Dim_H]
			,[DT_Created]
			,[Last_Updated]
			,[Last_Upd_User]
		)
		VALUES
		(
			@TCAR_Ref
			,@Box_Ref
			,(@Part_Weight * @Qty) + 0.2
			,@Part_Value * @Qty
			,@Qty
			,'1'
			,'1'
			,'1'
			,GETDATE()
			,GETDATE()
			,@User
		)
	END

