USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Get_Client]    Script Date: 20/08/2025 08:53:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC[dbo].[TCAR_Get_Client]

@Client VARCHAR(255)

as

--======================================================
-- GET CLIENT CUSTOMS DATA
--======================================================

SELECT
		RTRIM(IOSS) as [IOSS]
		,RTRIM(EORI) as [EORI]
		,RTRIM(Acc_Code) as [AccCode]
		,Active
FROM 
		TAFIE_Clients
WHERE 
		@Client = [Description]
