USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Check_Bcode]    Script Date: 20/08/2025 08:51:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Check_Bcode]

@TCAR_Ref VARCHAR(24)
,@Barcode VARCHAR(24)

AS

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Client VARCHAR(255) = (SELECT Client FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Load_Note VARCHAR(24) = (SELECT Load_Note FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- GET DATA
--=================================================================================================================================

SET @SQL = @SQL + '

DECLARE @Part VARCHAR(100) = 
(
SELECT TOP 1
			RTRIM(part_barc.part) + RTRIM(TCAR_DESP.[Load_Line])
FROM 
			' + @Connection_String + '.part_barc
			INNER JOIN TCAR_DESP ON part_barc.part = TCAR_DESP.part
WHERE 
			bcode = ''' + @Barcode + '''
			AND TCAR_Ref = ''' + @TCAR_Ref + '''
			AND [QTY_Scanned] != QTY_Load
			AND Shipped = 0		
)

IF @Part IS NOT NULL
	BEGIN 
		UPDATE 
				TCAR_DESP
		SET
				QTY_Scanned = QTY_Scanned + 1
				,Barcode = ''' + @Barcode + '''
		WHERE 
				RTRIM(TCAR_DESP.part) + RTRIM(TCAR_DESP.[Load_Line]) = @Part

		SELECT 1 -- Indicates Successful part scan
	END
ELSE
	BEGIN
		SELECT 0 -- Indicates part is not required
	END 

	SELECT @Part
'
--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

PRINT(@SQL)
EXECUTE(@SQL)
	
