USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Get_Desp]    Script Date: 20/08/2025 08:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Get_Desp]

@TCAR_Ref VARCHAR(24),
@Mode INT = 0

AS

/*
Mode 1: Re-Populate Table
Mode 0: Pull data from table
*/

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Client VARCHAR(255) = (SELECT Client FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)
DECLARE @Load_Note VARCHAR(24) = (SELECT Load_Note FROM TCAR WHERE TCAR_Ref = @TCAR_Ref)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- CLEAR ANY EXISTING DATA
--=================================================================================================================================
IF @Mode = 1
BEGIN

	DELETE TCAR_DESP WHERE TCAR_Ref = @TCAR_Ref

--=================================================================================================================================
-- GET DATA
--=================================================================================================================================

	SET @SQL = @SQL + '

	INSERT INTO TCAR_DESP

	SELECT
				''' + @Client + ''' as [Client]
				,''' + @TCAR_Ref + ''' as [TCAR_Ref]
				,RTRIM(sord.ref_no) as [Ref_No]
				,RTRIM(load_dely.load_note) as [Load_Note]
				,RTRIM(sord_schd.line) as [Order_Line]
				,RTRIM(load_schd.line) as [Load_Line]
				,RTRIM(part.part) as [Part]
				,RTRIM(part.descr) as [Description]
				,CAST(sord_schd.qty as int) as [QTY_Load]
				,0 as [QTY_Scanned]
				,NULL as [Barcode]
				,0 as [Shipped]
	FROM 
				' + @Connection_String + '.sord			
				INNER JOIN ' + @Connection_String + '.sord_schd on sord.ref_no = sord_schd.ref_no
				INNER JOIN ' + @Connection_String + '.sord_load on sord.ref_no = sord_load.ref_no AND sord_schd.line = sord_load.line
				INNER JOIN ' + @Connection_String + '.load_dely on load_dely.load_note = sord_load.load_note
				INNER JOIN ' + @Connection_String + '.load_schd on load_dely.load_note = load_schd.load_note AND load_schd.line = sord_load.load_line
				INNER JOIN ' + @Connection_String + '.part on part.part = load_schd.part AND part.part = sord_schd.part			
	WHERE 
				load_schd.qty_iss = sord_schd.qty
				AND load_dely.load_note = ''' + @Load_Note + '''
				--AND load_schd.status NOT IN (200,220) 
	'
--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

	PRINT(@SQL)
	EXECUTE(@SQL)

END

--=================================================================================================================================
-- SELECT RESULTS
--=================================================================================================================================

SELECT 
			Client
			,TCAR_Ref
			,Ref_No
			,Load_Note
			,Order_Line
			,Load_Line
			,Part
			,[Description]
			,CAST(QTY_Load as int) as [QTY_To_Scan]
			,CAST(QTY_Scanned as int) [QTY_Scanned]
			,Barcode
			,CASE WHEN CAST(QTY_Load as int) = CAST(QTY_Scanned as int) THEN 1 ELSE 0 END as [Shipped]
FROM 
			TCAR_DESP 
WHERE 
			TCAR_Ref = @TCAR_Ref
