USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Get_Ref]    Script Date: 20/08/2025 08:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Get_Ref]

@Client VARCHAR(255)

as

DECLARE @Client_Id INT = (SELECT ID FROM TAFIE_Clients WHERE [Description] = @Client)
DECLARE @Number INT = 
		ISNULL(
				(
					SELECT TOP 1 
								CAST(RIGHT(TCAR_Ref, 6) AS INT) 
					FROM 
								TCAR 
					ORDER BY 
								CAST(RIGHT(TCAR_Ref, 6) AS INT) DESC
				), 0
		) + 1

DECLARE @TCAR_Ref VARCHAR(24) = 'TCAR-' + RTRIM(@Client_Id) + '-' + RIGHT(CONCAT('000000', @Number), 6)

SELECT @TCAR_Ref as [TCAR_Ref]
