USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Complete_V2]    Script Date: 20/08/2025 08:52:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC[dbo].[TCAR_Complete_V2]

@TCAR_Ref VARCHAR(24)
,@Tracking VARCHAR(255)
,@Box_Ref INT

AS

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Client VARCHAR(255) = (SELECT TCAR.Client FROM TCAR WHERE TCAR.TCAR_Ref = @TCAR_Ref)
DECLARE @Load_Note VARCHAR(24) = (SELECT TCAR.Load_Note FROM TCAR WHERE TCAR.TCAR_Ref = @TCAR_Ref)
DECLARE @Customer VARCHAR(24) = (SELECT TCAR.Customer FROM TCAR WHERE TCAR.TCAR_Ref = @TCAR_Ref)
DECLARE @User VARCHAR(24) = (SELECT TCAR.User_Created FROM TCAR WHERE TCAR.TCAR_Ref = @TCAR_Ref)
DECLARE @tkey VARCHAR(24) = (SELECT TOP 1 tkey FROM TCAR_Resp WHERE TCAR_Resp.TCAR_Ref = @TCAR_Ref ORDER BY DT_Created DESC)
DECLARE @Site VARCHAR(24) = (SELECT [Site] FROM TAFIE_Clients WHERE [Description] = @Client)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=============================================================
-- COMPLETE TCAR
--=============================================================

UPDATE 
		TCAR
SET 
		[Tracking] = @Tracking
		,[Last_Updated] = GETDATE()
		,[Status] = 220
		,[API_Acc] = CASE WHEN [Intg_Code] = 'PROCAR' THEN 'PROCAR' ELSE [API_Acc] END
WHERE 
		TCAR_Ref = @TCAR_Ref

--=============================================================
-- COMPLETE TCAR_BOXES
--=============================================================

UPDATE 
		TCAR_BOXES
SET 
		[Tracking] = @Tracking
		,[Last_Updated] = GETDATE()
WHERE 
		TCAR_Ref = @TCAR_Ref
		AND Box_Ref = @Box_Ref

--=============================================================
-- CANCEL ANY PREVIOUS TCARS 1/2
--=============================================================

UPDATE 
		TCAR
SET 		
		[Last_Updated] = GETDATE()
		,[Status] = 200
		,[API_Acc] = CASE WHEN [Intg_Code] = 'PROCAR' THEN 'PROCAR' ELSE [API_Acc] END
WHERE 
		TCAR_Ref != @TCAR_Ref
		AND Load_Note = @Load_Note

--=============================================================
-- CANCEL ANY PREVIOUS TCARS 2/2
--=============================================================

UPDATE 
		TCAR_BOXES
SET 
		[Tracking] = 'Cancelled'
		,[Last_Updated] = GETDATE()
WHERE 
		TCAR_Ref IN 
					(
						SELECT 
									TCAR_Ref 
						FROM 
									TCAR 
						WHERE 
									TCAR_Ref != @TCAR_Ref 
									AND Load_Note = @Load_Note
									AND [status] = 200
					)

--=============================================================
-- UPDATE ELUCID (LOAD_DELY)
--=============================================================

SET @SQL = @SQL +
'

UPDATE 
		' + @Connection_String + '.[load_dely]
SET
		[load_dely].[carrier_ref] = ''' + @Tracking + '''
		,[load_dely].[last_updated] = GETDATE()
		,[load_dely].[last_upd_user] = ''' + @User + '''
WHERE 
		[load_dely].[load_note] = ''' + @Load_Note + '''
		
'

--=============================================================
-- UPDATE ELUCID (LOAD_CONS)
--=============================================================

SET @SQL = @SQL +'

IF EXISTS (SELECT load_note FROM ' + @Connection_String + '.[load_cons] WHERE load_note = ''' + @Load_Note + ''')
	BEGIN 
		UPDATE 
				' + @Connection_String + '.[load_cons]
		SET
				[load_cons].[carrier_ref] = ''' + @Tracking + '''
				,[load_cons].[last_updated] = GETDATE()
				,[load_cons].[last_upd_user] = ''' + @User + '''
		WHERE 
				[load_cons].[load_note] = ''' + @Load_Note + '''
	END
ELSE
	BEGIN
		INSERT INTO ' + @Connection_String + '.[load_cons]

		SELECT
					[load_note]
					,[carrier_ref]
					,''!''
					,[level_1]
					,[level_2]
					,[weight]
					,GETDATE()
					,''' + @User + '''
					,GETDATE()
		FROM
					' + @Connection_String + '.[load_dely]
		WHERE 
					[load_dely].[load_note] = ''' + @Load_Note + '''
	END
'

--=============================================================
-- UPDATE ELUCID (CUST_HIST)
--=============================================================

SET @SQL = @SQL +
'
INSERT INTO ' + @Connection_String + '.[cust_hist]
(
	[tkey]
	,[u_version]
	,[last_updated]
	,[last_upd_user]
	,[dt_created]
	,[level_1]
	,[level_2]
	,[activity_date]
	,[activity_time]
	,[activity_summary]
	,[customer]
	,[primary_ref]
	,[internal_contact]
	,[notes]
)
VALUES
(
	''' + @tkey + '''
	,''!''
	,GETDATE()
	,''' + @User + '''
	,GETDATE()
	,''' + @Site + '''
	,''GROUP''
	,CAST(GETDATE() as date)
	,CAST(GETDATE() as time)
	,''TAFIE - Label Generated''
	,''' + @Customer + '''
	,''' + @Load_Note + '''
	,''' + @User + '''
	,''A label has been generated for load note: ' + @Load_Note + ' with the carrier reference ' + @Tracking + '''
)

'

--=============================================================
-- PRINT & EXECUTE SQL
--=============================================================

PRINT(@SQL)
EXECUTE(@SQL)