USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Get_Headers]    Script Date: 20/08/2025 08:54:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Get_Headers]

@TCAR_Ref VARCHAR(24)
,@Session_Id VARCHAR(255)
,@Client VARCHAR(255)
,@Load_Note VARCHAR(24)
,@User VARCHAR(255)

as

--=================================================================================================================================
-- DECLARE & SET VARIABLES
--=================================================================================================================================

DECLARE @SQL VARCHAR(MAX) = ''
DECLARE @Connection_String VARCHAR(MAX) 
DECLARE @Client_Id INT = (SELECT ID FROM TAFIE_Clients WHERE [Description] = @Client)
DECLARE @Acc_Code VARCHAR(255) = (SELECT Acc_Code FROM TAFIE_Clients WHERE [Description] = @Client)
DECLARE @Service_Provider VARCHAR(255) 
DECLARE @Service_Id VARCHAR(255)

SET @Connection_String = 
							(
								SELECT 
											'[' + [Server] + '].[' + [Database] + '].dbo' 
								FROM 
											TAFIE_Clients 
								WHERE 
											[Description] = @Client
							)

--=================================================================================================================================
-- CANCEL ABANDONDED RECORDS
--=================================================================================================================================

UPDATE 
		TCAR
SET 
		[Status] = 200
		,Last_Updated = GETDATE()
WHERE 
		[Status] = 30 
		AND Load_Note = @Load_Note

--=================================================================================================================================
-- GET & INSERT DATA
--=================================================================================================================================

SET @SQL = @SQL + '

INSERT INTO [TCAR]
(
	[TCAR_Ref]
	,[Session_Id]
	,[Client]
	,[Customer]
	,[Ref_No]
	,[Load_Note]
	,[Carrier]
	,[Del_Method]
	,[API_Acc]
	,[Inco]
	,[EORI]
	,[IOSS]
	,[Status]
	,[Ref1]
	,[Ref2]
	,[Curr]
	,[DT_Created]
	,[Last_Updated]
	,[User_Created]
	,[Intg_Code]
	,[Service_Level]
	,[Service_Id]
	,[Service_Descr]
	,[Acc_Code]
	,[Postal_Charges]
)
'

SET @SQL = @SQL + '

SELECT
			''' + @TCAR_Ref + '''
			,''' + @Session_Id + '''
			,''' + @Client + '''
			,RTRIM(sord.customer) as [Customer]
			,RTRIM(sord.ref_no) as [Ref_No]
			,RTRIM(load_dely.load_note) as [Load_Note]
			,RTRIM(load_Dely.carrier) as [Carrier]
			,RTRIM(load_dely.del_method) as [Del_Method]
			,ISNULL(TCAR_CARR.Account_No, '''') as [API_Acc]
			,'''' as [IncoTerms]
			,(SELECT EORI FROM TAFIE_Clients WHERE [Description] = ''' + @Client + ''') as [EORI]
			,(SELECT IOSS FROM TAFIE_Clients WHERE [Description] = ''' + @Client + ''') as [IOSS]
			,30
			,RTRIM(sord.ref_no) as [Ref1]
			,RTRIM(load_dely.load_note) as [Ref2]
			,RTRIM(sord.price_curr) as [Curr] 
			,GETDATE() as [DT_Created]
			,GETDATE() as [Last_Updated]
			,''' + ISNULL(@User, 'UNDEFINED') + ''' as [User_Created]

--=================================================================================================================================
-- *******GET SERVICE CODES & IDS******* --
--=================================================================================================================================

			,ISNULL(TCAR_CARR.[Intg_Code], ISNULL(RTRIM(TCAR_CMAP.Intg_Code), ''ER'')) as [Intg_Code]
			,ISNULL(TCAR_CARR.[Service_Level], ISNULL(RTRIM(TCAR_CMAP.service_level), ''ER'')) as [Service_Level]
			,ISNULL(TCAR_CARR.Service_Id,ISNULL(RTRIM(TCAR_CMAP.service_id), ''ER'')) as [Service_Id]
			,ISNULL(TCAR_CARR.[Service_Descr], ISNULL(RTRIM(TCAR_CMAP.[Description]), ''ER'')) as [Service_Descr]
			,''' + ISNULL(@Acc_Code, '') + ''' as [Acc_Code]
			,ISNULL(sord_hchg.[unit_value], 0) as [Postal_Charges]	
FROM 
			' + @Connection_String + '.load_dely
			LEFT JOIN ' + @Connection_String + '.lnot_sord on load_dely.load_note = lnot_sord.load_note
			LEFT JOIN ' + @Connection_String + '.sord on sord.ref_no = lnot_sord.ref_no
			LEFT JOIN ' + @Connection_String + '.sord_dely on sord.ref_no = sord_dely.ref_no
			LEFT JOIN ' + @Connection_String + '.sord_hchg on sord_hchg.ref_no = sord.ref_no
			LEFT JOIN TCAR_CMAP on TCAR_CMAP.E9_Carrier = load_dely.carrier AND TCAR_CMAP.E9_Del_Method = load_dely.del_method
			LEFT JOIN 
			(
			SELECT
							load_dely.load_note
							,RTRIM(carr_dtls.account_no) as [Account_No]
							,RTRIM(carr_intg.intg_code) as [Intg_Code]
							,RTRIM(carr_ddtl.Service_Level) as [Service_Level]
							,RTRIM(carr_ddtl.service_id) as [Service_Id]
							,RTRIM(dmtd.descr) as [Service_Descr]
			FROM 
							' + @Connection_String + '.load_dely 
							LEFT JOIN ' + @Connection_String + '.carr_dtls on load_dely.carrier = carr_dtls.carrier
							LEFT JOIN ' + @Connection_String + '.carr_intg on load_dely.carrier = carr_intg.carrier
							LEFT JOIN ' + @Connection_String + '.dmtd on load_dely.del_method = dmtd.del_method
							LEFT JOIN ' + @Connection_String + '.carr_ddtl on load_dely.carrier = carr_ddtl.carrier AND load_dely.del_method = carr_ddtl.del_method
			) as TCAR_CARR on TCAR_CARR.load_note = load_dely.load_note
WHERE 
			load_dely.load_note = ''' + @Load_Note + '''

'

--=================================================================================================================================
-- EVALUATE API USED
--=================================================================================================================================

SET @SQL = @SQL + '

DECLARE @Intg_Code VARCHAR(12) = (SELECT Intg_Code FROM TCAR WHERE TCAR_Ref = ''' + @TCAR_Ref + ''')

IF @Intg_Code = ''PROCAR''
	BEGIN
		DECLARE @API_Key VARCHAR(255) = 
		(
			SELECT 
						RTRIM(VALUE) 
			FROM 
						' + @Connection_String + '.intg_parm 
			WHERE 
						package = ''PROCAR'' 
						AND parameter = ''API_KEY''
		)

		UPDATE 
				TCAR 
		SET 
				[API_Acc] = @API_Key
				,[Acc_Code] = NULL
		WHERE 
				TCAR_Ref = ''' + @TCAR_Ref + '''

		



	END
'

--=================================================================================================================================
-- PRINT & EXECUTE SQL
--=================================================================================================================================

PRINT(@SQL)
EXECUTE(@SQL)


