USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_GET_JSON]    Script Date: 20/08/2025 08:54:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC[dbo].[TCAR_GET_JSON]

@TCAR_Ref VARCHAR(24)
,@Box_Ref INT

as

--==============================================================================================================================================================
-- JSON PATH
--==============================================================================================================================================================

SELECT
		--{
			RTRIM(TCAR.API_Acc) as [Apikey]			
			,'OrderShipment' as [Command]
			--"Shipment": {
				,'true' as [RequireCarrierTrackingNumber]
				,'System' as [LabelOption]
				,'PDF' as [LabelFormat]
				,TCAR.Load_Note + '-' + RTRIM(@Box_Ref) as [ShipperReference]
				,TCAR.Load_Note as [DisplayId]
				,TCAR.Ref_No as [InvoiceNumber]
				,'PCPL' as [Service]
				--"SenderAddress": {
					,TCAR.Client as [Sender_Name]
					,TCAR.Client as [Sender_Company]
					,'Wrangaton Business Park' as [Sender_AddressLine1]
					,'' as [Sender_AddressLine2]
					,'SOUTH BRENT' as [Sender_City]
					,'DEVON' as [Sender_State] 
					,'TQ10 9GQ' as [Sender_Zip] 
					,'GB' as [Sender_Country] 
					,'0123456789' as [Sender_Phone] 
					,'AccountManager@whistl.co.uk' as [Sender_Email]
					,'STD' as [Sender_Vat]
					,'' as [Sender_Eori] 
					,'' as [Sender_Ioss]
				--},
				--"ConsigneeAddress": {
					,RTRIM(Name) as [Consignee_Name]
					,RTRIM(ISNULL(Company,RTRIM(Name))) as [Consignee_Company]
					,RTRIM(Addr1) as [Consignee_AddressLine1]
					,RTRIM(addr2) as [Consignee_AddressLine2]
					,RTRIM(City) as [Consignee_City]
					,RTRIM(County) as [Consignee_State]
					,RTRIM(Postcode) as [Consignee_Zip]
					,RTRIM(Country) as [Consignee_Country]
					,RTRIM(Phone) as [Consignee_Phone]
					,RTRIM(email) as [Consignee_Email]					
					,'STD' as [Consignee_Vat]
				--},
				,CAST(ISNULL(TCAR_BOXES.[Weight], 0.1) as numeric(14,4)) as [Box_Weight]
				,'kg' as [Box_WeightUnit]
				,CAST(TCAR_BOXES.Dim_L as int) as [Box_Length]
				,CAST(TCAR_BOXES.Dim_W as int) as [Box_Width]
				,CAST(TCAR_BOXES.Dim_H as int) as [Box_Height]
				,'cm' as [Box_DimUnit]
				,CAST(ISNULL(TCAR_BOXES.Value, 0) as numeric(14,2)) as [Box_Value]
				,RTRIM(Curr) as [Currency]
				,CASE 
							WHEN (SELECT TOP 1 DDP FROM TCAR_CMAP WHERE TCAR.Service_Level = TCAR_CMAP.Service_Level) = 1 THEN 'DDP'
							ELSE 'DDU'
				END as [CustomsDuty]
				,'Goods' as [Description]
				,'SaleOfGoods' as [DeclarationType]
				,'' as [DeliveryInstructions]
				--"Products": [
						--{
							,CAST(TCAR_line.Part_Weight as numeric(14,2)) as [Product_Weight]
							,'kg' as [Product_WeightUnit]
							,RTRIM(TCAR_Line.[Description]) as [Product_Description]
							,RTRIM(TCAR_Line.Part) as [Product_Sku]							
							,RTRIM(TCAR_Line.HS_Code) as [Product_HsCode]		
							,RTRIM(TCAR_Line.CoO) as [Product_OriginCountry]		
							,ISNULL(
									(
										SELECT TOP 1
													TCAR_BCON.Qty 
										FROM 
													TCAR_BCON 
										WHERE 
													TCAR_BCON.part = TCAR_Line.part 
													AND TCAR_BOXES.TCAR_Ref = TCAR_BCON.TCAR_Ref 
													AND TCAR_BOXES.Box_Ref = TCAR_BCON.Box_Ref
													AND TCAR_BCON.Box_Ref = @Box_Ref
									), TCAR_Line.Qty
							) as [Product_Quantity]
							,CAST(TCAR_line.Part_Value as numeric(14,2)) as [Product_Value]	
						--},
					--]				
				--}
			--}
FROM 
			TCAR
			INNER JOIN TCAR_Line ON TCAR_Line.TCAR_Ref = TCAR.TCAR_Ref
			INNER JOIN TCAR_BOXES ON TCAR_BOXES.TCAR_Ref = TCAR.TCAR_Ref					
WHERE 
			TCAR.TCAR_Ref = @TCAR_Ref
			AND TCAR_BOXES.Box_Ref = @Box_Ref