USE [Appz]
GO
/****** Object:  StoredProcedure [dbo].[TCAR_Rpnt]    Script Date: 20/08/2025 08:57:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROC [dbo].[TCAR_Rpnt]

@Tracking VARCHAR(255)
,@User VARCHAR(100)

as

--==================================================
-- UPDATE TCAR TO INDICATE REPRINT
--==================================================

UPDATE 
		TCAR
SET 
		Last_Updated = GETDATE()
		,Last_Upd_User = @User
		,[status] = 225
WHERE 
		Tracking = @Tracking